# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
*db.qlite3
#db.sqlite3

# Logs and debug files
logs/
*.log
*.pot
*.pyc

# Static files
staticfiles/
#media/

# Dependency directories
venv/
node_modules/
gulpfiles/
.idea
.gitignore
*.docx