{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'nopadding.html' %}
<style>
    body {
        overflow-y: hidden;
    }
</style>
<div class="bar">
  <h5>Проект: {{project}} - Ресурс: {{role}}</h5>
</div>

<table width=100% style="position:absolute;top:78px; overflow-y: hidden;" >
                <tr style=" height: 42vh; ">
    <td width=50% style="vertical-align:top;border:1;border-color:white;">
      <div class="table-container-2">
        <table border=1 style="position:relative;top:0;border-color:white;" class="balance" width=100%>
          <thead>
            <tr>
              <th colspan=13  style="border:1;border-color:white;">
                Балансы (<a href="/balance_jr/0/{{r}}/{{j}}" style="color:white;" >подробнее</a>)</th>
            </tr>
            <tr >
              {% include 'moon.html' %}</tr></thead><tbody>
              {% for tt in w1 %}
            <tr   style="border:1;border-color:white;">
              {% for t in tt %}
              <td   style="background-color:{{t.color}}">
                {{t.val}}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}


              </tbody>
        </table>
      </div>
    </td>
    <td width=50% style="vertical-align:top;border:1;border-color:white;">
      <div class="table-container-2">
        <table border=1 width=100% style="position:relative;top:0;border-color:white;" >
          <thead>
            <tr  style="border:1;border-color:white;">
              <th colspan=13  style="border:1;border-color:white;">
                <a href="/needs_jr/{{p}}/{{r}}/{{j}}" style="color:white;border:none;"
             >Потребность</a>
              </th>
            </tr>
            <tr   style="border:1;border-color:white;">
              {% include 'moon.html' %}</tr></thead><tbody>
            <tr style="border:1;border-color:white;">
              {% for t in w2 %}
              <td  class="good" action="/save_needs/" fname="f20" key="{{t.link}}"
              style="background-color:{{t.color}};">

                {{t.val}}
              </td>

              {% endfor %}
            </tr>
                    <tr><td colspan="12">
              <button   type="submit"  class="btn btn-primary"> Сохранить </button>

            </td></tr>
            </tbody>
        </table>
      </div>

      <form id="f20" method="POST">
        {% csrf_token %}

        <input type=hidden name="html" value='delta_jr'>

      </form>
    </td>
  </tr>
  <tr style="text-align:center; vertical-align:top;height: 80vh; ">
    <td width=50% style="vertical-align:top;border:1;border-color:white;">
      <div class="table-container-2">
        <table border=1 width=100% style="position:relative;top:0;border-color:white;" >
          <thead>
            <tr>
              <th colspan=13  style="border:1;border-color:white;">

                <a href="/tasks_jr/0/{{r}}/{{j}}" style="color:white;">
                  Загрузки</a>

              </th>
            </tr>
            <tr>
              <th  style="border:none;
        border-bottom: 1px solid grey;
              background-color:white">
                <form id="f10" method="POST">
                  {% csrf_token %} <input type=hidden name="html" value='delta_jr'>
     <button   type="submit"  class="btn btn-primary"> Сохранить </button>
                </form>



                {% include 'moon.html' %}</tr></thead><tbody>
                {% for tt in w3 %}
            <tr style="border:1;border-color:white;">
              {% for t in tt %}


              <td class=" {{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};border:none;border-color:white;">


                {{t.val}}
              </td>{% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

      </div>
  <td width=50% style="vertical-align:top;border:1;border-color:white;">
      <div class="table-container-2">
<table border=1 width=100% style="position:relative;top:0;border-color:white;" class="dif">
          <thead>
            <tr>
              <th colspan=13  style="border:1;border-color:white;">

                Остаточная доступность ресурсов</th>
            </tr><tr>
              <th style="text-align:center;border:none;background-color:white;color:black;
border-bottom: 1px solid grey;">Сотрудник
                {% include 'moon.html' %}</tr></thead><tbody>
                {% for dem in w4 %}
            <tr>
              {% for t in dem %}
              <td  style="background-color:{{t.color}}" >{{t.val}}</td>{% endfor %}
            </tr>

            {% endfor %}
        </table></div>
    </td>
  </tr>
</table>
{% endblock %}