{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'page.html' %}
<div class="bar">
  <h5>Ресурс: {{role}} (максимальная доступность)</h5>
</div>

        <table border=1 class="dif"   width=100%>


  <thead style="position:sticky;  text-align: center; background-color:#FFF;">

    <tr>
      <th colspan=13>
        <a href="/max/" style="color: white" class="mmm">
          Ресурсный пул (максимальная доступность)
        </a>
      </th>
    </tr>
    <tr>
      <th rowspan=2>
          {% if user.is_authenticated %}
        <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value=''>
          <div style="
          position:absolute;top:80px;right:385px;"></div>
<button   type="submit"  class="button3 btn btn-primary"> Сохранить </button>
        </form>
          {%endif%}
      </th>
    </tr>
    {% include 'moon.html' %}</tr></thead><tbody>
    {% for tt in dif14 %}
    <tr>
      {% for t in tt %}

      {% if forloop.first %}

      <td>{{t}}</td>

      {% else %}
      <td style="background-color:{{t.color}};" class="good" action="/save_max/" fname="f10" key="{{t.link}}">



        {{t.val}}
        {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>

        {% endif%}
      </td>
      {% endif %}
      {% endfor %}

    </tr>
    {% endfor %}
        </table>
        {% include 'data.html' %}
{% endblock %}