{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>
  Ресурсный пул: {{role}} -
      <a href="/delta_r/0/{{r}}/{{j}}" style="color:black;">Потребность
          </a></h5>
<button   type="submit" disabled="true"  class="btn btn-primary"> Сохранить  </button>
<table id="example" class="display compact" style="width:100%;">
  <thead>
    <tr style="text-align:center;">

      <th style="text-align:center;border-top:none;">
Проект
        {% include 'moon.html' %}</tr></thead><tbody>
        {% for dem in w2 %}
        <tr style="text-align:center;">
      {% for t in dem %}

      <td class="{{t.class}}" action="/save_needs/" fname=f10 key="{{t.link}}" title="{{t.up}}"
          style="background-color:{{t.color}};"
      role="{{t.role}}" project="{{t.project}}"
      >
        {{t.val}}
      </td>
      {% endfor %}
    </tr> {% endfor %}
    </tbody>
</table>

{% include 'data2.html' %}
  <form  method="POST" id="f10">
            {% csrf_token %}          <input type=hidden name="html" value='needs_r'>



          </form>
<style>

    h5 {
    display: block;
}

.btn.btn-primary {
    display: block;
    margin-top: 10px; /* Если вы хотите добавить некоторый отступ между текстом и кнопкой */
}

</style>
 
 {% include 'wish_js.html' %}
{% endblock %}