{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
    <h2>Это входная страница сайта.</h2>
    основные интерфейсы:<br>
    1 - <a href="/" target="_top">ввод проектов со сроками и ответственными</a> +
    <a href="/" target="_top">дорожная карта</a><br>
    2 - <a href="/" target="_top">ввод потребностей по проектам</a> в разрезе ролей и периодов<br>
    3 - <a href="/" target="_top">ввод людей и их доступности</a> для каждого ресурсного пула по периодам<br>
    4 - <a href="/" target="_top">балансировка ресурсов</a> (слева вверху - баланс ресурсов по потребности и поставке,<br>
     слева внизу - ввод и утверждение поставки ресурсов в привязке к проекту, <br>
    роли и человеку, справа вверху - потребность в ресурсах в разрезе ролей,<br>
     проектов по периодам (аналог п. 2), справа внизу - остаточная доступность <br>
     по людям и ролям по периодам.<br>
    5 - <a href="/" target="_top">анализ перегрузки людей</a> (если загрузка более 100%) по периодам<br>
    (возможные еще какие-то технические справочники для ввода мастер-данных на старте)<br>
    6- То, чего нет в текущем файле - это сквозного выбора 1 проекта<br>
      (для руководителя проекта) и 1 роли (для ресурсного менеджера) <br>
      на 4-х экранном экранном представлении
      <br>
      <div style="background-color: #EEEEFF;">
      <form method="POST" target="_top">
          {% csrf_token %}  <button type="submit">Выбрать перспективу</button>
              {{ form }}

        </form>
        </div>
{% endblock %}
