
<div class="small-table">
<table  class="in2 small-table ">
  <thead><th>hello!</th></thead><tbody>
  <tr><td>9999</td></tr>
  <tr><td>9999</td></tr>
        <tr><td>9999</td></tr>
              <tr><td>9999</td></tr>
                    <tr><td>9999</td></tr>
                          <tr><td>9999</td></tr>
                                <tr><td>9999</td></tr>
                                      <tr><td>9999</td></tr>
                                            <tr><td>9999</td></tr>
    <tr><td>9999</td></tr>
    <tr><td>9999</td></tr>

<tr><td>9999</td></tr>
      <tr><td>9999</td></tr>
            <tr><td>9999</td></tr>
                  <tr><td>9999</td></tr>
                        <tr><td>9999</td></tr>
                   <tr><td>9999</td></tr></<tbody>

                   </tbody>

</table>
</div>
