{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<table border=2 width=100%>
<tr><td colspan=2><h1>Все ресурсы - {{project}}</h1>
(aj)<a href="/">домой</a> <a href="/dj/{{j}}">Дельта</a>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>
        <div class="table-container">
    <table border=2 style="position:relative;top=0;"  width=100% ><thead><tr>
        <th colspan=13>Балансировка</th></tr><tr><th><b>{{project}}</b>
{% include 'moon.html' %}</thead><tbody>
{% for dem in w1 %}
<tr>
{% for t in dem %}
{% if forloop.first %}
{% if t|negative %}{% else %}
<td colspan=13>{{t}}</td></tr><tr>
  {% endif %}
{% else %}
<td>
{{t}}
</td>
      {% endif %}    
{% endfor %}

</tr>

{% endfor %}</tbody>
    </table></div>
  </td>
    <td width=50%>
      <table border=2 width=100% style="position:relative;top=0;">
          <tr><td colspan=13>Потребность<td></tr><td><b>{{project}}</b>
        {% include 'moon.html' %}
        {% for dem in w2 %}
        <tr>
        {% for t in dem %}

        <td class="good" key="{{t.link}}" title="{{t.up}}">
      {{t.title}}
      </td>
{% endfor %}
</tr>        {% endfor %}


      </table>

    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>  <div class="table-container">
        <table border=2 width=100% style="position:relative;top=0;"><thead>
            <tr><th colspan=13>Утвержденные загрузки</th></tr><tr><th>{{project}}
{% include 'moon.html' %}</thead><tbody
{% for tt in w3 %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}


  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}
<td>
{{t}}
</td>
{% endif %}
{% endfor %}</tr>
{% endfor %}
        </table>
      </td>
      <td  width=50%>  <div class="table-container">
      <table border=2 style="position:relative;top=0;"  width=100% class="dif" ><thead>
          <tr><th colspan=13>Ресурсный пул (остаточная доступность)</th></tr><tr><th>ФИО
{% include 'moon.html' %}</thead><tbody>
{% for tt in w4 %}
<tr>
{% for t in tt %}

{% if forloop.first %}
{% if t|negative %}

{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
{% endif %}
{% else %}
<td>
{{t}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}</tbody>
      </table></div>
    </td>

    </tr></tbody>
  </table></div>
    {% include 'js.html' %}
{% endblock %}
