{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<table border=2 width=100%>
<tr><td colspan=2><h1><a href="a3/{{project.id}}">{{project}}</a> -
<a href="a2/{{role.id}}">
  {{role}}</a>
</h1>
<a href="/">домой</a>
<td></tr>
  <tr style="text-align:center;"><td  width=50%>
    <table border=2 style="position:relative;top=0;"  width=100% >
        <tr><td colspan=13>Балансировка<td></tr><tr><td rowspan=2>---
{% include 'moon.html' %}
{% for tt in dem130 %}
<tr>
{% for t in tt %}
<td>
{{t}}
</td>
{% endfor %}

</tr>

{% endfor %}

    </table>
  </td>
    <td width=50%>
      <table border=2 width=100% style="position:relative;top=0;">
        <tr><td colspan=13>Потребность<td></tr>
          <tr>
        {% include 'moon.html' %}
        <tr>
        {% for t in dem12 %}
<td>
{{t}}
</td>
{% endfor %}

</tr>


      </table>

    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>
        <table border=2 width=100% style="position:relative;top=0;">
            <tr><td colspan=13>Утвержденные загрузки<td></tr><tr><td rowspan=2>ФИО
{% include 'moon.html' %}

{% for tt in sup13e %}
<tr>
{% for t in tt %}
<td class="good" key="{{t.link}}">

  {{t.val}}

</td>{% endfor %}
</tr>
{% endfor %}
<tr><td colspan=13 >
  <form id="f10" action="/sjr/" method="POST">
  {% csrf_token %}
<input type = hidden name="id" value='{{id}}'>
<input type = hidden name="r" value='{{r}}'>
  <button type="submit" >Сохранить изменения</button>
</form>
{%  include 'script.html'  %}

</td></tr>
        </table>
      </td>
      <td  width=50%>
      <table border=2 style="position:relative;top=0;"  width=100% class="dif">
          <tr><td colspan=13>Ресурсный пул<td></tr><tr><td rowspan=2>ФИО
{% include 'moon.html' %}
{% for dem in dif13 %}
<tr>
{% for t in dem %}
<td>{{t}}</td>{% endfor %}
</tr>

{% endfor %}
      </table>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
    <!-- {% include 'script.html' %} -->
{% endblock %}
