{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<ol>

    <li>Проекты
        <ol>
            <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
            <li><a href="/prjlist/">Портфель проектов</a></li>        
        </ol>
    
    </li>
    <li>
        Люди
    <ol>
        <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
        <li>(*)<a href="/admin/">Назначить человека на роль</a></li>
        
        </ol>
    
    </li>
    <li>        Ресурсы (роли)
    <ol>
        <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
        
        <li><a href="/mro/">Увидеть остаточную доступность всех</a></li>  
        
        <li><a href="/mrom/">Увидеть максимальную доступность всех</a>
        </li>        
           
        </ol></li>

    <li>Руководитель проекта<ol>
        
           <li>
              <a href="/atj/"> Выставить потребность по ресурсам </a>
        </li>

        
        </ol>
    
    </li> 
    <li>Руководитель ресурса<ol>
        <li><a href="/atr/">
        Выставить максимальную доступность</a>
        
        </li>

        
        
        </ol>
    
    
    </li>
    <li>
    Назначение на проект    
                   
    </li>

</ol>

      <div style="background-color: #EEEEFF;">
      <div style="background-color: #EEEEFF;">
      <form method="POST" target="_top" >
          {% csrf_token %}  <button type="submit">Выбрать перспективу и назначить исполнителей </button>
              {{ form }}
<img src="{% static 'fire2.png' %}" alt="Icon" width=16>

        </form>
        </div>
{% endblock %}
