{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}

<ol>

    <li>Проекты
        <ol>
            <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
            <li><a href="/prjlist/">Портфель проектов</a></li>        
        </ol>
    
    </li>
    <li>
        Люди
    <ol>
        <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
        <li>(*)<a href="/admin/">Назначить человека на роль</a></li>
        
        </ol>
    
    </li>
    <li>        Ресурсы (роли)
    <ol>
        <li>(*)<a href="/admin/">Добавить, изменить, удалить</a></li>
        
        <li><a href="/mro/">Увидеть остаточную доступность всех</a></li>  
        
        <li><a href="/mrom/">Увидеть максимальную доступность всех</a>
            
        Проверить перегруз. Изменить максимальную доступность (НУЖНА КНОПКА) 
            переключиться в один ресурс (НУЖЕН ЛИНК)
        </li>        
        <li><a href="atr">Увидеть максимальную доступность (один ресурс)</a>
                    (кнопка изменить) переход во все ресурсы (нужен линк)  Проверить перегруз. 
                    
        </ol>
    
    
    </li>
    <li><a href="/atj/">Руководитель проекта</a><ol>
        
           <li>
               Выставить потребность по ресурсам <ol>
                   <li>на отдельном экране</li>
                   <li>в балансировочной таблице</li>
                   <li>в балансировочной таблице Дельта</li>
    
               </ol>
        </li>

        
        </ol>
    
    </li>
 
    <li><a href="/atr/">Руководитель ресурса</a><ol>
        <li>
        Выставить максимальную доступность<ol>
                    <li>
        Один ресурс, проверить перегруз, изменить максимальную  доступность (кнопка)
        </li>
        <li>
        Балансирование ресурсов
        </li>
        <li>Дельта</li>
        <li>Все роли данного человека</li>

            </ol>
            
        </li>

        
        
        </ol>
    
    
    </li>
    <li>
    Назначение на проект    
        <ol>
        <li>Один проект - один ресурс<ol> <li>его Дельта</li>         </ol></li>
            <li><a href="/atj/">Один проект - все ресурсы</a><ol> <li>его Дельта</li>         </ol></li>
    
        </ol>
            
            
    </li>

</ol>


<!--

<h1>Карта сайта</h1>
<ol>
<li>Пользователи
    <ol>
        <li>Главный менеджер
        <ol>
        
                <li><a href="/prjlist/">Все проекты на шкале времени</a></li>
            <li><a href="/atj/">Все проекты и их руководители</a></li>
                 <li><a href="/atr/">Ресурсные пулы и их руководители</a></li>
              <li><a href="/mrom/">Максимальная доступность каждого ресурса</a></li>
                 <li><a href="/mro/">Остаточная доступность каждого ресурса</a></li>
            </ol>
        
        </li>
        <li>менеджер ресурсного пула
        <ol>
                          <li><a href="/mrom/">Максимальная доступность ресурса</a></li>
                 <li><a href="/mro/">Остаточная доступность ресурса</a></li>
            </ol>
        
        </li>
        <li>Руководитель проекта<ol>
                          <li>Балансировка/Дельта</li>
                                
                             <li>Установить потребность</li>
                             <li>Утвердить назначения</li>
            </ol>
        
        </li>
        
        <li>Администратор базы</li>
        
    </ol>

    </li>
    <li>Перспективы
    
        <ol>
            <li>Все проекты
            <ol>
                <li><a href="/prjlist/">Все проекты на шкале времени</a></li>
                <li><a href="/atj/">Все проекты и их руководители</a></li>                
                </ol>
            </li>
            <li>Все ресурсы
            <ol>
                <li><a href="/mrom/">Максимальная доступность каждого ресурса</a></li>
                 <li><a href="/mro/">Остаточная доступность каждого ресурса</a></li>
                 <li><a href="/atr/">Ресурсные пулы и их руководители</a></li>
                </ol>
            </li>
                <li>Один ресурс
                    <ol>
                        <li>Установить доступность</li>
                    </ol>
            </li>
            <li>Один проект
                                <ol>
                        <li>Установить потребность</li>
                    </ol>
            </li>
            <li><>Один проект и все ресурсы
                    <ol><li>Балансировка</li><li>Дельта</li>
                                
                             <li>Установить потребность</li>
                             <li>Утвердить назначения</li>
                            
                         </ol>
            </li>
             <li>Один ресурс и все проекты
                <ol>
                    <li>Балансировка</li>
                    <li>Дельта</li><ol></ol></ol>
             <li>Один ресурс и один проект
                 <ol><li>Балансировка</li><li>Дельта</li><ol>   </ol></ol>
            <li>Все ресурсы и все проекты
                <ol><li>Балансировка</li><li>Дельта</li><ol>   </ol></ol>
                        
                        <li></li>
            <li></li>
                        <li></li>
            <li></li>
    </ol>
    </li>
</ol>
<h1>
    <a href="/atj/" target="_top">проекты</a> и
      <a href="/atr/" target="_top">ресурсы</a></h1>
-->

      <div style="background-color: #EEEEFF;">
      <form method="POST" target="_top" >
          {% csrf_token %}  <button type="submit">Выбрать перспективу и назначить исполнителей </button>
              {{ form }}
<img src="{% static 'fire2.png' %}" alt="Icon" width=16>

        </form>
        </div>
{% endblock %}
