{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<table border=2 width=100%  style="background-color:lightgrey;
height: 100vh;
">
<tr><td colspan=2><h3>Все проекты - {{role}}</h3>
(ar)<a href="/">домой</a>   <a href="/dr/{{r}}">дельта</a>  <a href="/mr/{{r}}">максимальная доступность</a>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>
    <div class="table-container">
    <table border=2
    style="position:relative;top=0;background-color:white;
    "  width=100% >

      <thead>
        <tr><th colspan=13>Балансировка <th></tr><tr><th>{{role}}
{% include 'moon.html' %}
</thead><tbody>
{% for dem in dem13L %}
<tr>
{% for t in dem %}
{% if forloop.first %}
{% if t|negative %}{% else %}
<td colspan=13>{{t}}</td></tr><tr>
  {% endif %}
{% else %}
<td>
{{t}}
</td>
{% endif %}
{% endfor %}

</tr>


{% endfor %}
</tbody>
    </table>
    </div>
  </td>
    <td width=50%>
          <div class="table-container">
      <table border=2 width=100% style="position:relative;top=0;background-color:white;

      ">
          <tr><th colspan=13>Потребность<td></tr><td><b>{{role}}</b>
        {% include 'moon.html' %}
        {% for dem in dem13R %}
        <tr>
        {% for t in dem %}


        <td class="good" key="{{t.link}}" title="{{t.up}}">
{{t.val}}
</td>
{% endfor %}
</tr>        {% endfor %}



      </table>
</div>
    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>

            <div class="table-container">

        <table border=2 width=100% style="position:relative;top=0;background-color:white;"><thead>
            <tr><th colspan=13>Утвержденные загрузки</th></tr>

            <tr><th>{{role}}
{% include 'moon.html' %}</thead><tbody>
{% for tt in sup13e %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}


  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}
  <td class="good" key="{{t.link}}" title="{{t.up}}">
    {{t.val}}
  </td>
{% endif %}
{% endfor %}</tr>
{% endfor %}

</tbody>
        </table>

      </div>
        <!-- <tr><td colspan=13> -->
            <form id="f10" action="/s5/" method="POST">
            {% csrf_token %}
          <input type = hidden name="r" value='{{r}}'>
            <button type="submit" >(5)Сохранить изменения </button>
          </form>
          {%  include 'script.html'  %}
          <!-- </td></tr> -->

        </td>

      <td  width=50%>
            <div class="table-container">
      <table border=2 style="position:relative;top=0;background-color:white;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсный пул (остаточная доступность)<td></tr><td><b>ФИО</b>
{% include 'moon.html' %}
{% for tt in dif14 %}
<tr>
{% for t in tt %}

{% if forloop.first %}
{% if t|negative %}

{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
{% endif %}
{% else %}
  <td class="good" key="{{t.link}}">
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}

      </table></div>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
{% endblock %}
