{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<a href="/" style="position:relative;">Домой</a>
<a href="/prjlist/" style="position:relative;">Все проекты</a>
<a href="/mro/" style="position:relative;">Все ресурсы оставшиеся</a>
<a href="/mrom/" style="position:relative;">Все ресурсы максимальные</a>
<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr">
        <th>Руководители проектов</th><th>проекты</th><th>потребность в ресурсах</th>
<th>баланс и назначения</th><th>Дельта</th>
      </tr>

      <tr>
        {% for cell in data %}
        <td>

          {{ cell.name }}

        </td>
        <td style="text-align: center; cell-padding:3px;">

          {{ cell.project }}

<td style="text-align: center; ">
  <a href="/mj/{{cell.j}}">
изменить
</a>
</td>

<td style="text-align: center; ">
      <a href="/aj/{{cell.j}}">
смотреть
</a>
</td>
                              <td style="text-align: center; ">
      <a href="/dj/{{cell.j}}">
смотреть
</a>
</td>
      </tr>
        {% endfor %}
</table>



{% endblock %}
