{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<span class="icon icon-primary">
  <i class="bi-house"></i>
</span>
<span class="icon icon-soft-primary">
  <i class="bi-house"></i>
</span>
<a href="/" style="position:relative;">Домой</a>
<a href="/prjlist/" style="position:relative;">Портфель проектов</a>

<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr><th>Руководители ресурсных пулов</th><th>ресурсы</th>
        <th>доступность максимальная</th><th>баланс и назначения</th><th>доступность оставшаяся</th>
      </tr>

      <tr >
        {% for cell in data2 %}
        <td style="text-align: center; ">

          {{ cell.name }}

        </td>
        <td style="text-align: center; ">

          {{ cell.title }}

        </td>
        <td style="text-align: center; ">
          <a href="/mr1/{{cell.r}}">
        изменить
</a>
        </td>
        <td style="text-align: center; ">
  <a href="/ar/{{cell.r}}">
        смотреть
</a>
        </td>        <td style="text-align: center; ">
          <a href="/mr2/{{cell.r}}">
        смотреть
</a>
        </td>

      </tr>
        {% endfor %}
</table>
<a href="/mro/" style="position:relative;">Все ресурсы оставшиеся</a>
<a href="/mrom/" style="position:relative;">Все ресурсы максимальные</a>

{% endblock %}
