{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu.html' %}

<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr><th>Руководители ресурсных пулов</th><th>ресурсы</th>
        <th>доступность максимальная</th><th>баланс и назначения</th><th>доступность оставшаяся</th>
      </tr>

      <tr >
        {% for cell in data2 %}
        <td style="text-align: center; ">

          {{ cell.name }}

        </td>
        <td style="text-align: center; ">

          {{ cell.title }}

        </td>
        <td style="text-align: center; ">
          <a href="/mr1/{{cell.r}}">
        изменить
</a>
        </td>
        <td style="text-align: center; ">
  <a href="/ar/{{cell.r}}">
        смотреть
</a>
        </td>        <td style="text-align: center; ">
          <a href="/mr2/{{cell.r}}">
        смотреть
</a>
        </td>

      </tr>
        {% endfor %}
</table>

{% endblock %}
