{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<a href="/" style="position:relative;">Домой</a>
<a href="/prjlist/" style="position:relative;">Все проекты</a>
<a href="/mro/" style="position:relative;">Все ресурсы</a>

<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr><th>Руководители ресурсных пулов</th><th>ресурсы</th>
        <th>доступность максимальная</th><th>баланс и назначения</th>
      </tr>

      <tr >
        {% for cell in data2 %}
        <td style="text-align: center; ">

          {{ cell.name }}

        </td>
        <td style="text-align: center; ">

          {{ cell.title }}

        </td>
        <td style="text-align: center; ">
          <a href="/mr/{{cell.r}}">
        изменить
</a>
        </td>
        <td style="text-align: center; ">
  <a href="/ar/{{cell.r}}">
        смотреть
</a>
        </td>

      </tr>
        {% endfor %}
</table>


{% endblock %}
