{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<a href="/" style="position:relative;">Домой</a>
<a href="/" style="position:relative;">Все проекты</a>
<a href="/" style="position:relative;">Все ресурсы</a>
<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr">
        <th>Руководители проектов</th><th>проекты</th><th>потребность в ресурсах</th>

      </tr>

      <tr">
        {% for cell in data %}
        <td>

          {{ cell.name }}

        </td>
        <td style="text-align: center; cell-padding:3px;">
          <a href="/aj/{{cell.project_id}}">
          {{ cell.project }}
</a>
<td style="text-align: center; ">
  <a href="/mj/{{cell.res_id}}">
изменить
</a>
</td>
      </tr>
        {% endfor %}
</table>
<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" >
      <tr><th>Руководители ресурсных пулов</th><th>ресурсы</th>
        <th>доступность максимальная</th>
      </tr>

      <tr >
        {% for cell in data2 %}
        <td style="text-align: center; ">

          {{ cell.name }}

        </td>
        <td style="text-align: center; ">
          <a href="/ar/{{cell.res_id}}">
          {{ cell.title }}
</a>
        </td>
        <td style="text-align: center; ">
          <a href="/mr/{{cell.res_id}}">
        изменить
</a>
        </td>
      </tr>
        {% endfor %}
</table>


{% endblock %}
