{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<table border=2 width=100% style="background-color:lightgrey;" class=out>
<tr><td colspan=2><h1>Все проекты - {{role}} - Дельта</h1>
(dr)<a href="/">домой</a> <a href="/ar/{{r}}">Подробно </a>
  <a href="/mr/{{r}}">максимальная доступность</a>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>
      <div class="table-container">

    <table border=2 style="position:relative;top=0;background-color:white;"  width=100% class=in><thead>
        <tr><th colspan=13>Балансировка</th></tr><tr><th>Проект</th>
{% include 'moon.html' %}</thead><tbody>
{% for dem in w1 %}
<tr>
{% for t in dem %}
<td>
{{t}}
</td>
{% endfor %}

</tr>

{% endfor %}<tbody>
    </table>
    </div>
  </td>
    <td width=50%>
      <table border=2 width=100% style="position:relative;top=0;background-color:white;" class=in>
          <tr><td colspan=13>Потребность+<td></tr><td><b>{{role}}</b>
        {% include 'moon.html' %}
        {% for dem in w2 %}
        <tr>
        {% for t in dem %}


        <td class="good  hello  {{t.color}}" key="{{t.link}}" title="{{t.up}}">
{{t.val}}
</td>
{% endfor %}
</tr>        {% endfor %}



      </table>

    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>

          <div class="table-container">
        <table border=2 width=100% style="position:relative;top=0;background-color:white;" class=in><thead>
            <tr><th colspan=13>Утвержденные загрузки</th></tr><tr><th>{{role}}
{% include 'moon.html' %}</thead><tbody>
{% for tt in w3 %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}
  <td class="good {{t.color}}" key="{{t.link}}" title="{{t.up}}">
    {{t.val}}
  </td>
{% endif %}
{% endfor %}</tr>
{% endfor %}

</tbody>
        </table></div>
          <form id="f10" action="/s6/" method="POST">
          {% csrf_token %}
        <input type = hidden name="r" value='{{r}}'>
          <button type="submit" >(6) Сохранить изменения</button>
        </form>
        {%  include 'script.html'  %}
        </td>

      <td  width=50%>    <div class="table-container">
      <table border=2 style="position:relative;top=0;background-color:white;"  width=100% class="dif in" ><thead>
          <tr><th colspan=13>Ресурсный пул (остаточная доступность)<th></tr><tr><th>ФИО
{% include 'moon.html' %}</thead><tbody>
{% for tt in w4 %}
<tr>
{% for t in tt %}
  <td>
{{t}}

{% endfor %}

</tr>

{% endfor %}
</tbody>
      </table></div>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
{% endblock %}
