{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<table border=2 width=100% style="background-color:lightgrey;">
<tr><td colspan=2><h1>Все проекты - {{role}} - Дельта*</h1>
  <a href="/">домой</a> <a href="/ar/{{r}}">Подробно </a>
  <a href="/mr/{{r}}">максимальная доступность</a>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>
      <div class="table-container">

    <table border=2 style="position:relative;top=0;background-color:white;"  width=100% ><thead>
        <tr><th colspan=13>Балансировка</th></tr><tr><th rowspan=2>Проект</th>
{% include 'moon.html' %}</thead><tbody>
{% for dem in dem13L %}
<tr>
{% for t in dem %}
<td>
{{t}}
</td>
{% endfor %}

</tr>

{% endfor %}<tbody>
    </table>
    </div>
  </td>
    <td width=50%>
      <table border=2 width=100% style="position:relative;top=0;background-color:white;">
          <tr><td colspan=13>Потребность<td></tr><td rowspan=2><b>{{role}}</b>
        {% include 'moon.html' %}
        {% for dem in dem13R %}
        <tr>
        {% for t in dem %}


        <td class="good" key="{{t.link}}">
{{t.val}}
</td>
{% endfor %}
</tr>        {% endfor %}



      </table>

    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>

          <div class="table-container">
        <table border=2 width=100% style="position:relative;top=0;background-color:white;"><thead>
            <tr><th colspan=13>Утвержденные загрузки</th></tr><tr><th rowspan=2>{{role}}
{% include 'moon.html' %}</thead><tbody>
{% for tt in sup14 %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}
  <td class="good" key="{{t.link}}">
    {{t.val}}
  </td>
{% endif %}
{% endfor %}</tr>
{% endfor %}

</tbody>
        </table></div>
          <form id="f10" action="/sdrd/" method="POST">
          {% csrf_token %}
        <input type = hidden name="r" value='{{r}}'>
          <button type="submit" >Сохранить изменения</button>
        </form>
        {%  include 'script.html'  %}
        </td>

      <td  width=50%>    <div class="table-container">
      <table border=2 style="position:relative;top=0;background-color:white;"  width=100% class="dif" ><thead>
          <tr><th colspan=13>Ресурсный пул (остаточная доступность)<th></tr><tr><th rowspan=2>ФИО
{% include 'moon.html' %}</thead><tbody>
{% for tt in dif14 %}
<tr>
{% for t in tt %}

{% if forloop.first %}
{% if t|negative %}

{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
{% endif %}
{% else %}
  <td class="good" key="{{t.link}}">
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}
</tbody>
      </table></div>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
{% endblock %}
