<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page</title>

  </head>
  <body><b>ПРОЕКТ {{project}}</b>
  <a href="/">На первую страницу</a><br>
<table><tr><td>Балансировка ресурсов<br/>
    <iframe id="iframe1" src="/res/{{pid}}/{{rid}}" width="600" height="300"></iframe>
</td><td>Профиль  загрузки (потребность)<br>
    <iframe id="iframe2" src="/res01/{{pid}}/{{rid}}" width="600" height="300"></iframe>
</td></tr><tr><td>Утвержденные загрузки (поставка)<br>
    <iframe id="iframe3" src="/res10/{{pid}}/{{rid}}" width="600" height="300"></iframe>

<!--        <iframe id="iframe3" src="/myotd/{{rid}}" width="600" height="300"></iframe><br>-->
<!--<div id="boundary" draggable="true"></div>-->
<!--        <iframe id="iframe2"  src="/details" width="600" height="300"></iframe>-->

<!--        <iframe id="iframe4" src="/details" width="600" height="300"></iframe>-->
</td><td>Ресурсные пулы<br>
   <iframe id="iframe4" src="/ostr/{{rid}}" width="600" height="300"></iframe>
    </td></tr>
</table>

  </body>
</html>
