<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page</title>

  </head>
  <body><a href="/">На первую страницу</a>
    <h3>Проект и ресурсы</h3>


    <iframe id="iframe1" src="/myprj/{{pid}}" width="600" height="300"></iframe>

        <iframe id="iframe3" src="/myotd/{{rid}}" width="600" height="300"></iframe><br>
<div id="boundary" draggable="true"></div>
        <iframe id="iframe2"  src="/myprj" width="600" height="300"></iframe>

        <iframe id="t11" src="/home" width="600" height="300"></iframe>


    <p>And here's some more content.</p>
  </body>
</html>
