<!DOCTYPE html>
<html>
  <head>
    <title>home</title>

  </head>
  <body><a href="/">На первую страницу</a>
    <h3>Страница главного начальника</h3>


    <iframe id="iframe1" src="/prjlist" width="600" height="300"></iframe>

        <iframe id="iframe3" src="/otdlist" width="600" height="300"></iframe><br>

        <iframe id="iframe2"  src="/homeleft" width="600" height="300"></iframe>

        <iframe id="t11" src="/homeright" width="600" height="300"></iframe>


    <p>And here's some more content.</p>
  </body>
</html>
