{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
<style>
.parent {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:800px;

}
.child0 {
  position: absolute;
  top: 0px;
  left: 0;
  width:100%;
  height: 30px;
  border: none;
}
.child1 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height:30px;
  border: none;
  background-color: #EEEEFF;
}

.child2 {
  position: absolute;
  top: 30px;
  right: 0;
  width: 100%;
  height: 95%;
  border: none;
}


</style>

<div class="parent">
    <iframe id="iframe1" src="/entry/"  class="child1"></iframe>

     <iframe id="iframe2"  src="{% static 'txt.html'%}" class="child2"></iframe>


</div>

{% endblock %}
