<script>

  window.onload = function() {
    var tables = document.getElementsByTagName("table");
    for (var i = 0; i < tables.length; i++) {

      var rows = tables[i].getElementsByTagName("tr");
      for (var j = 0; j < rows.length; j++) {
        var cells = rows[j].getElementsByTagName("td");
        for (var k = 0; k < cells.length; k++) {


          if( tables[i].classList.contains("dif"))
          {
            if (cells[k].innerHTML < 0) {
              cells[k].style.backgroundColor = "red";
            }else if (cells[k].innerHTML == 0) {
              cells[k].style.backgroundColor = "yellow";}
              else{cells[k].style.backgroundColor = "white";}
        }else { if (cells[k].innerHTML < 0) {
                  cells[k].style.backgroundColor = "pink";
                }else if (cells[k].innerHTML > 0) {
                  cells[k].style.backgroundColor = "lightblue";
                }
}

        }
      }
    }
  }

</script>
