{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{{project}}

<table border="2">
  <tr>
    <th  style="text-align: center;  padding: 3px;"">Роль</th>
    {% for y,m in month_tuples %}
      <th  style="text-align: center;  padding: 5px;">
        {{y}}<br>{{m}}
      </th>
   {% endfor %}

  </tr>
  {% for row in data %}
    <tr>
      {% for cell in row %}

                   {% if cell|isObject  %}
                <td class="good" key="{{cell.link}}"
                    style="text-align: center; padding: 5px;background-color:yellow">
                        {{ cell.load }}
                               </td>
            {% else %}

                <td class="bad" style="text-align: center; padding: 5px; ">

                          <a href="#">
                              {{ cell }}
                          </a>
                </td>
            {% endif %}


      {% endfor %}
    </tr>
  {% endfor %}
</table>

</table>
<form id="myForm" action="/load4/" method="POST">

    {% csrf_token %}
  <input type = hidden name="id" value='{{project_id}}'>
    <button type="submit">Сохранить изменения</button>
  </form>
    {% include 'script.html' %}

{% endblock %}

