{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<a href="/">домой</a> <a href="/ar/{{r}}">балансы</a> <a href="/dr/{{r}}">дельта</a>
<h1>{{role}}</h1>

      <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсный пул (максимальная доступность)<td></tr><tr><td rowspan=2><b>ФИО</b></td></tr>
{% include 'moon.html' %}
{% for tt in dif14 %}
<tr>
{% for t in tt %}

{% if forloop.first %}

  <td>{{t}}</td>

{% else %}
  <td class="good" key="{{t.link}}">
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}

<tr><td colspan=13 >
  <form id="f10" action="/smr/" method="POST">
  {% csrf_token %}
<input type = hidden name="r" value='{{r}}'>
  <button type="submit" >Сохранить изменения</button>
</form>
{%  include 'script.html'  %}

</td></tr>
      </table>

    {% include 'js.html' %}
{% endblock %}
