{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu2.html' %}
<a href="/dr/{{r}}">дельта</a> <a href="/prjlist/" style="position:relative;">Портфель проектов</a>

<h3 style="text-align:center;">{{role}}</h3>

      <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсный пул (максимальная доступность)<td></tr><tr><td rowspan=2><b>ФИО</b></td></tr>
{% include 'moon.html' %}
{% for tt in dif14 %}
<tr>
{% for t in tt %}

{% if forloop.first %}

  <td>{{t}}</td>

{% else %}
  <td class="good" key="{{t.link}}">
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}

<tr><td colspan=13 style="text-align:center;">
  <form id="f10" action="/smr/" method="POST">
  {% csrf_token %}
<input type = hidden name="r" value='{{r}}'>
  <button type="submit" class="button3">Сохранить изменения</button>
</form>
{%  include 'script.html'  %}

</td></tr>
      </table>
 <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсный пул (оставшаяся доступность)<td></tr><tr><td rowspan=2><b>ФИО</b></td></tr>
{% include 'moon.html' %}
{% for tt in dif15 %}
<tr>
{% for t in tt %}

{% if forloop.first %}

  <td>{{t}}</td>

{% else %}
  <td class="good" key="{{t.link}}" >
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}


</table>

    {% include 'js.html' %}
{% endblock %}
