{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu.html' %}
      <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсы (остаточная доступность)</td></tr>
            <tr><td><b>ФИО</b>

{% include 'moon.html' %}
{% for tt in dif14 %}

<tr>
{% for t in tt %}
{% if forloop.first %}
{% if t|negative %}{% else %}
<td colspan=13>{{t}}</td></tr><tr>
  {% endif %}
{% else %}
<td>
{{t}}
</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}

      </table>
<!--<a href="/mro/" style="position:relative;">Все ресурсы оставшиеся</a>-->

  {% include 'js.html' %}
{% endblock %}
