{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu.html' %}

<h3 style="text-align: center;">Ресурсы (максимальная доступность)</h3>
      <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
<!--          <tr><td colspan=13>Ресурсы (максимальная доступность)</td></tr>-->
            <tr><td><b>ФИО</b>

{% include 'moon.html' %}
{% for tt in dif14 %}

<tr>
{% for t in tt %}
{% if forloop.first %}


{% if t|negative %}{% else %}
<td colspan=13><a href="/mr1/{{t.r}}">
    {{t.val}}</a>
    </td></tr><tr>
  {% endif %}


{% else %}
<td style="background-color:{{t.color}};"
class="good" key="{{t.link}}" >

{{t.val}}{% if t.fire %}
<img src="{% static 'fire2.png' %}" alt="Icon" width=16>

                {% endif%}
                </td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
<tr><td colspan=13 style="text-align:center;">
  <form id="f10" action="/smrom/" method="POST">
  {% csrf_token %}
<input type = hidden name="id" value='{{j}}'>
  <button type="submit" class="button3">Сохранить изменения</button>
</form>
{%  include 'script.html'  %}


    </td></tr>
      </table>

<!--<a href="/mrom/" style="position:relative;">Все ресурсы максимальные</a>-->

    {% include 'js.html' %}
{% endblock %}
