{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{{role}} - максимальная доступность
<table border="2">
  <thead>
    <tr >
      {% for t in t12 %}

        {% if t|isObject %}
          <th style="text-align: center;">
        {{t.year}}<br>{{t.month}}
        {% else %}
                <th style="text-align: center;">
         {{t}}
        {% endif %}
      </th>
      {% endfor%}
    </tr>
  </thead>
  <tbody>
    {% for p in data1 %}
      <tr >
        {% for cell in p %}

             {% if forloop.first %}
                        <td class="bad"
                         style="text-align: center; ">
<!--                            <a href="#"-->
<!--  onclick=" var iframe2 = window.parent.document.getElementById('iframe4');-->
<!--iframe2.src = 'mytask/{{cell.link}}';-->

<!--">-->
                            {{ cell.title }}
<!--                            </a>-->
                        </td>


          {% else %}
        <td style="text-align: center; " class="good"  key="{{cell.link}}" >
            {{cell.load}}</td>
              {% endif %}
        {% endfor %}

      </tr>
    {% endfor %}
    <tr><td colspan="13">
    <form name="myForm" id='f10' action="/jax3/" method="POST">
    {% csrf_token %}
   <input type = hidden name="r" value='{{role.id}}'>
    <button type="submit" >Сохранить изменения</button>
    </form>
    </td></tr>

  </tbody>
</table>
    {% include 'script.html' %}


{% endblock %}
