{% extends 'base.html' %}
{% block content %}
{% load custom_filters %}
  <h2>Люди в проектах</h2>
<table border="2">
  <thead>
    <tr>
      <th   style="text-align: center;  padding: 5px;">Сотрудник</th> <!-- empty header cell for the top-left corner of the table -->
      {% for project in projects %}
      <th   style="text-align: center;  padding: 5px;">{{ project }}</th> <!-- header cell for each project name -->
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  <tr>
    {% for x in one %}
    {% if x|isnumeric %}
      {% if x > 0 %}
          <td   style="font-size: 20px; text-align: center;  padding: 5px;">*</td>
      {% else %}
    <td   style="font-size: 20px;  text-align: center;  padding: 5px;">-</td>
      {% endif %}
    {% else %}

    </tr>
    <tr>
      <td   style="text-align: center;  padding: 5px;">{{ x }}</td>
      {% endif %}
    {% endfor %}

    </tr>

  </tbody>
</table>




{% endblock %}
