{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
 =  Ресурсный пул = <h3>доступность сотрудников остаточная</h3>
<a href="/people/">доступность максимальная</a>
<table border="2"  >
  <thead>
    <tr >
      {% for t in t12 %}
      <th style="text-align: center;  padding: 5px;">
        {% if t|isObject %}
        {{t.year}}<br>{{t.month}}
        {% else %}
        {{t}}
        {% endif %}
      </th>
      {% endfor%}
    </tr>
  </thead>
  <tbody>
    {% for p in data %}
      <tr >
        {% for cell in p %}
        <td style="text-align: center;  padding: 3px;
  {% if cell|isnumeric and cell|negative %}
  background-color:red
  {% endif %}
    {% if cell|isnumeric and cell|zero %}
  background-color:yellow
  {% endif %}


">{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
