{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<table border="2"  >
 <tr><td colspan="13">оставшаяся доступность сотрудников</td></tr>
    <tr >
      {% for t in t12 %}

        {% if t|isObject %}
          <th style="text-align: center;  ">
        {{t.year}}<br>{{t.month}}
        {% else %}
          <th style="text-align: center;  ">
         {{t}}
        {% endif %}
      </th>
      {% endfor%}
    </tr>


    {% for p in data3 %}
      <tr >
        {% for cell in p %}
          {% if forloop.first %}

       <td style="text-align: center; ">
<!--           <a href="#"-->

<!--  onclick=" var iframe4 = window.parent.document.getElementById('iframe4');-->
<!--iframe4.src = 'myotd/{{cell.link}}';">-->
             {{cell.title}}
<!--          </a> -->
       </td>

          {% else %}


        <td width = "40" style="text-align: center;
{% if cell|negative %}

background-color:pink;
{% endif %}



        ">


            {{cell}}</td>
              {% endif %}
        {% endfor %}

      </tr>
    {% endfor %}

</table>



{% endblock %}
