{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
доступность сотрудников (занятость)

<table border="2"  >
  <thead>
    <tr >
      {% for t in t12 %}
      <th style="text-align: center;  padding: 5px;">
        {% if t|isObject %}
        {{t.year}}<br>{{t.month}}
        {% else %}
         {{t}}
        {% endif %}
      </th>
      {% endfor%}
    </tr>
  </thead>
  <tbody>
    {% for p in data %}
      <tr >
        {% for cell in p %}
          {% if forloop.first %}

       <td style="text-align: center;  padding: 3px;">
           <a href="#"

  onclick=" var iframe4 = window.parent.document.getElementById('t11');
iframe4.src = 'myotd/{{cell.link}}';">
             {{cell.title}}
          </a> </td>

          {% else %}
        <td style="text-align: center;  padding: 3px;">
            {{ cell.plus }}({{cell.minus}})</td>
              {% endif %}
        {% endfor %}

      </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
