{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<style>

    td.true {
      background-color: yellow;
    }
    td.false {
      background-color: white;
    }</style>
<table border="2" >
    <tr><td colspan="13">Проекты</td></tr>
<th style="text-align: center; ">РП</th>
      <th style="text-align: center;  padding: 5px;">Название</th>
      <th style="text-align: center;  padding: 5px;">Начало</th>
      <th style="text-align: center;  padding: 5px;">Окончание</th>
      <th style="text-align: center;  padding: 5px;">Длит<br>(мес)</th>
                  {% for y,m in months %}
          <th style="text-align: center;">{{y}}<br>{{m}}</th>
          {% endfor %}

  </thead>
  <tbody>

    {% for row in matrix %}
    <tr style="text-align: center; ">
        {% for cell in row %}
        {% if cell|isBool %}
          <td class="{% if cell %}true{% else %}false{% endif %}">
              {% if cell %}*{% else %}-{% endif %}
          </td>
      {% else %}
        <td style="text-align: center; ">
{% if cell|isObject %}
            <a href="#"
  onclick=" var iframe2 = window.parent.document.АgetElementById('iframe2');
iframe2.src = 'load/{{cell.link}}';
">
             {{cell.title}}
            </a>
        {% else %}
          {{cell}}
{% endif %}
   </td>
      {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}