{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
  <h2>Проекты</h2>
<table border="2">
  <thead>
<th>Руководитель</th>
      <th>Название</th>
      <th>Начало</th>
      <th>Окончание</th>
                  {% for y,m in months %}
          <th>{{y}}<br>{{m}}</th>
          {% endfor %}

  </thead>
  <tbody>
    {% for p in projects %}
      <tr>
                  <td>{{ p.general.user.last_name }}</td>
          <td>
        <a href="{% url 'load' id=p.id %}">
        {{ p.title }}
</a>
          </td>
        <td>{{ p.start_date }}</td>
        <td>{{ p.end_date }}</td>
          {% for i in months %}
          <td>
          {% if data[p][i] %}
              *
          {% else %}
              -
          {% endif %}
          </td>
          {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}
