{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<table border="2">
    <tr><td colspan="4">Балансировка ресурсов</td><td colspan=5>
       {{project}}</td><td colspan="4"> {{role}}</td></tr>
  <tr>
    <th  style="text-align: center;">Ресурс</th>
    {% for x in data0 %}
      <th  style="text-align: center; ">

        {{x.year}}
      </th>
   {% endfor %}
</tr><tr>
   <th  style="text-align: center;">-</th>
    {% for x in data0 %}
      <th  style="text-align: center; ">

     {{x.month}}
      </th>
   {% endfor %}
  </tr>

 {% for row in data %}
    <tr style="text-align: center;">
              {% for cell in row %}
             {% if forloop.first %}
                        <td class="bad"
                         style="text-align: center;  ">
                            {{ cell.title }}
            {% else %}

{% if cell|isnumeric %}
{% if cell|positive %}
<td class="good"
 style="text-align: center;
      background-color:yellow;  ">

      {% else %}
{% if cell|negative %}
<td class="good"
 style="text-align: center;

                background-color:pink; ">
{% else %}
<td class="good"
 style="text-align: center;
                background-color:white;">
{% endif %}
            {% endif %}

                        {{ cell }}
                               </td>

{% endif %}
            {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}

</table>


{% endblock %}
