{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<a href="/load/{{project.id}}">посмотреть потребные ресурсы</a>
<h2>{{project}}</h2>
{{d1}}-{{d2}}

<a href="/resp/{{project.id}}">посмотреть распределенные ресурсы детально</a>
<table>
<table border="2">
  <tr>
    <th  style="text-align: center;">Роль</th>
    {% for y,m in month_tuples %}
      <th  style="text-align: center;  padding: 5px;">

        {{y}}<br>{{m}}
      </th>
   {% endfor %}

  </tr>
  {% for row in data %}
    <tr>
      {% for cell in row %}
        <td  style="text-align: center; padding: 5px;">
        {{cell}}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

</table>
{% endblock %}