{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
= Балансировка ресурсов
= <a href="/resp/{{project.id}}">Утвержденные загрузки</a> =
<a href="/load/{{project.id}}">Профиль загрузки </a> =
<br>

<h2>{{project}}</h2>
{{d1}}-{{d2}}<br>

<a href="/resp/{{project.id}}">посмотреть распределенные ресурсы детально</a>
  <a href="/load/{{project.id}}">посмотреть потребные ресурсы</a>
<table>
<table border="2">
  <tr>
    <th  style="text-align: center;">Роль</th>
    {% for y,m in month_tuples %}
      <th  style="text-align: center;  padding: 5px;">

        {{y}}<br>{{m}}
      </th>
   {% endfor %}

  </tr>
  {% for row in data %}
    <tr>
      {% for cell in row %}
        <td  style="text-align: center; padding: 5px;">
        {{cell}}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

</table>
{% endblock %}