{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<table border="2">
        <tr><td colspan="4">Профиль  загрузки (потребность)</td><td colspan=5>
       {{project}}</td><td colspan="4"> {{role}}</td></tr>
  <tr>
    <th  style="text-align: center;">
год
    </th>
    {% for x in data0 %}
      <th  style="text-align: center;">

        {{x.year}}
      </th>
   {% endfor %}
</tr><tr>
    <th  style="text-align: center;">

    </th>
    {% for x in data0 %}
      <th  style="text-align: center; ">

     {{x.month}}
      </th>
   {% endfor %}
  </tr>

 {% for row in data %}
    <tr style="text-align: center;">
        <td>
        <form name="f01" action="/ajax/" method="POST">
    {% csrf_token %}
  <input type = hidden name="id" value='{{project_id}}'>
     <input type = hidden name="r" value='{{r}}'>
    <button type="submit">Сохранить</button>
        </form></td>
              {% for cell in row %}

    {% if cell.load|positive %}
                        <td class="good" key="{{cell.link}}" form="f01"
                         style="text-align: center;
      background-color:yellow;">{% else %}
                <td class="good"  key="{{cell.link}}" form="f01"
                    style="text-align: center; background-color:magenta;">
        {% endif %}
                        {{ cell.load }}
                               </td>

      {% endfor %}
    </tr>
  {% endfor %}

</table>
<script>
$('td.good').click(function() {

  var p = $(this).attr("key");
  var formName = $(this).attr("form");



  var originalValue = $(this).text();
  $(this).html('<input type="text" size="4" maxlength="4" value="' + $.trim(originalValue) + '">');

  $(this).click(function(){
  $(this).html(originalValue);
  })

  $('td input').focusout(function() {
    var newValue = $(this).val();
    $(this).parent().text(newValue+'@');
var myForm = $('[name='+formName+']')

 var newInput = $("<input>");
    newInput.attr("type", "hidden");
    newInput.attr("name", p);
    newInput.attr("value",newValue );
    myForm.append(newInput);


  });
});

</script>

{% endblock %}
