{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
<h3>{{project}}</h3>

<table>
<table border="2">
  <tr>
    <th  style="text-align: center;">Ресурс</th>
    {% for x in data0 %}
      <th  style="text-align: center; padding: 5px;">

        {{x.year}}
      </th>
   {% endfor %}
</tr><tr>
        <th  style="text-align: center;">-</th>
        {% for x in data0 %}
      <th  style="text-align: center; padding: 5px;">

     {{x.month}}
      </th>
   {% endfor %}
  </tr>

 {% for row in data %}
    <tr style="text-align: center;">
              {% for cell in row %}
             {% if forloop.first %}
                        <td class="bad"
                         style="text-align: center;  ">
                            <!--a href="#"
  onclick=" var iframe2 = window.parent.document.getElementById('iframe2');
iframe2.src = 'res_jr/{{cell.link}}';"--->
                            {{ cell.title }}
                            <!--/a-->
                        </td>



            {% else %}
{% if cell|isnumeric and cell|positive %}
                        <td class="good"
                         style="text-align: center;
      background-color:yellow;">{% else %}


                <td class="good"
                    style="text-align: center; background-color:white">
        {% endif %}
                        {{ cell }}
                               </td>
            {% endif %}

      {% endfor %}
    </tr>
  {% endfor %}

</table>

</table>
(((res10)))
{% endblock %}