{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<style>
    table {
  position: absolute;
  top: 0;
  right: 0;
    }
  </style>
<table border="2">
        <tr><td colspan="4">Утвержденные загрузки (поставка)</td><td colspan=5>
       {{project}}</td><td colspan="4"> {{role}}</td></tr>
  <tr>

      <th  style="text-align: center;">
                    <form id="myForm" action="/ajax2/" method="POST">
    {% csrf_token %}
  <input type = hidden name="id" value='{{project_id}}'>
     <input type = hidden name="r" value='{{r}}'>
    <button type="submit">Сохранить</button>
                    </form>

    </th>

    {% for x in data0 %}
      <th  style="text-align: center;">
        {{x.year}}
      </th>
   {% endfor %}
</tr>
<tr>


    <th  style="text-align: center;">Особые требования</th>
        {% for x in data0 %}
    <th  style="text-align: center; ">
     {{x.month}}
      </th>
   {% endfor %}
  </tr>

 {% for row in data %}
    <tr style="text-align: center;">
              {% for cell in row %}
             {% if forloop.first %}
                        <td class="bad"
                         style="text-align: center;  ">

                            {{ cell.title }}

                        </td>



            {% else %}

{% if cell|isnumeric and cell|positive %}
                        <td class="good"
                         style="text-align: center;
      background-color:yellow;">
                            {% else %}
                <td class="good"
                    style="text-align: center; background-color:white">
        {% endif %}
                        {{ cell }}
                               </td>
        {% endif %}

      {% endfor %}
    </tr>
  {% endfor %}

</table>

    {% include 'script.html' %}

{% endblock %}