{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{{project}}
<table>
<table border="2">
  <thead   style="text-align: center;  padding: 5px;">
            <th>{{role}}</th>
    {% for cell in dat1 %}
      <th>
        {{cell.year}}<br>{{cell.month}}
      </th>
   {% endfor %}
  </thead>
<tbody>
    <tr>{% for cell in dat2 %}
                    <td style="text-align: center; padding: 5px; ">{{ cell }}</td>
      {% endfor %}
    </tr>
  {% for row in data %}
    <tr>
              {% for cell in row %}
        {% if forloop.first %}
            <td style="text-align: center; padding: 5px; ">{{ cell }}</td>
        {% else %}

                <td class="good" key="{{cell.link}}"
                    style="text-align: center; background-color:yellow">
                        {{ cell.load }}
                               </td>
        {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
    </tbody>
</table>
<form id="myForm" action="/ajax2/" method="POST">

    {% csrf_token %}
  <input type = hidden name="id" value='{{project.id}}'>
    <button type="submit">Сохранить изменения</button>
  </form>
(((res_jr)))
    {% include 'script.html' %}
{% endblock %}