{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
= Утвержденные загрузки = <a href="/res/{{project.id}}">Балансировка ресурсов</a> =
<a href="/load/{{project.id}}">Профиль загрузки</a> =<br>

<h2>{{project}}</h2>
{{d1}}-{{d2}}<br><a href="/load/{{project.id}}">посмотреть потребные ресурсы</a>
<a href="/res/{{project.id}}">посмотреть распределенные ресурсы крупно</a>
<table>
<table border="2">
  <tr>
    <th  style="text-align: center;">Роль</th>
        <th  style="text-align: center;">Исполнитель</th>
    {% for y,m in month_tuples %}
      <th  style="text-align: center;  padding: 5px;">
        {{y}}<br>{{m}}
      </th>
   {% endfor %}

  </tr>
  {% for row in data %}
    <tr>
              {% for cell in row %}
             {% if cell|isObject  %}
                <td class="good" key="{{cell.link}}"
                    style="text-align: center; padding: 5px;background-color:yellow">
                        {{ cell.load }}
                               </td>
            {% else %}
                <td class="bad" style="text-align: center; padding: 5px; ">{{ cell }}</td>
            {% endif %}

      {% endfor %}
    </tr>
  {% endfor %}
</table>
<form id="myForm" action="/load5/" method="POST">

    {% csrf_token %}
  <input type = hidden name="id" value='{{project_id}}'>
    <button type="submit">Сохранить изменения</button>
  </form>

    {% include 'script.html' %}
{% endblock %}