<script>
$('td.good').click(function() {

  var p = $(this).attr("key");
  var originalValue = $(this).text();
  $(this).html('<input type="text" size="4" maxlength="4" value="' + $.trim(originalValue) + '">');

  $(this).click(function(){
  $(this).html(originalValue);
  })

  $('td input').focusout(function() {
    var newValue = $(this).val();
    $(this).parent().text(newValue+'@');

 var myForm = $("#myForm");
 alert(myForm)
//  var newInput = $("<input>");
//     newInput.attr("type", "hidden");
//     newInput.attr("name", p);
//     newInput.attr("value",newValue );
    //myForm.append(newInput);
addHiddenInput("f10", p, newValue);

  });
});

function addHiddenInput(formId, name, value) {
    // Get the form element using the formId parameter
    var form = document.getElementById(formId);

    // Create a new hidden input element
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = name;
    input.value = value;

    // Add the new input element to the form
    form.appendChild(input);}
</script>
