<style>
table .out{
    background-color: #FFFFBB;
height:100hv;
    top:0;
}
table .in{
  background-color: #FFFFFF;
  height:50hv;
top:0;
}
  .table-container-2 {
  overflow-y: scroll; /* Добавляем вертикальный скролл */
  height: 250px; /* Устанавливаем высоту контейнера */
  position: relative; /* Устанавливаем позиционирование контейнера */
      top:0;
}
  .table-container {
  overflow-y: scroll; /* Добавляем вертикальный скролл */
  height: 400px; /* Устанавливаем высоту контейнера */
  position: relative; /* Устанавливаем позиционирование контейнера */
      top:0;
}

table {
  width: 100%; /* Устанавливаем ширину таблицы на 100% */
top:0;
}

thead th {
  position: sticky; /* Устанавливаем позиционирование шапки таблицы */
  top: 0; /* Устанавливаем верхнюю границу шапки на 0 */
  background-color: #999; /* Добавляем фоновый цвет шапке */
    text-decoration-color: #fff;
    color:  #fff;
v
}
td {
  position: relative;
vertical-align: top;
    top:0;
}

td table {
  position: absolute;

  right: 0;
    top:0;
}

td table td button {
  display: block;
  margin: 0 auto;
    top:0;
}


  </style>
