<style>
table .out{
height:100hv;
}
table .in{
  height:50hv;

}

  .table-container {
  overflow-y: scroll; /* Добавляем вертикальный скролл */
  height: 400px; /* Устанавливаем высоту контейнера */
  position: relative; /* Устанавливаем позиционирование контейнера */
}

table {
  width: 100%; /* Устанавливаем ширину таблицы на 100% */

}

thead th {
  position: sticky; /* Устанавливаем позиционирование шапки таблицы */
  top: 0; /* Устанавливаем верхнюю границу шапки на 0 */
  background-color: #fff; /* Добавляем фоновый цвет шапке */
}
td {
  position: relative;
}

td table {
  position: absolute;
  bottom: 0;
  right: 0;
}

td table td button {
  display: block;
  margin: 0 auto;
}


  </style>
