{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
        <table border=2 width=100% style="position:relative;top=0;background-color:white;text-align:center" class=in><thead>
            <tr><th colspan=13>
                 <a href="/dr/0/{{r}}/0/" style="color:white">
                Утвержденные загрузки
                </a>
                </th></tr><tr><th>{{role}}
{% include 'moon.html' %}</thead><tbody>
{% for tt in w3 %}
<tr>
{% for t in tt %}

  {% if forloop.first %}
{% if t|negative %}{% else %}
  <td colspan=13>{{t.val}}</td></tr>
            <tr>
    {% endif %}
  {% else %}

  <td class="good {{t.color}}" key="{{t.link}}" title="{{t.up}}">
    {{t.val}}
  </td>
{% endif %}
{% endfor %}</tr>
{% endfor %}<tr><td colspan=13 style="text-align:center;">

          <form id="f10" action="/s1/" method="POST">
          {% csrf_token %}
                    <input type = hidden name="html" value='ur'>
          <button type="submit" class="button3"> Сохранить изменения</button>
        </form>
        {%  include 'script.html'  %}
            </td></tr>
</tbody>
        </table>
    {% include 'js.html' %}
    {% include 'menu.html' %}
{% endblock %}
