{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}

<div class="bar">
    <h5>Относительная нехватка ресурсов</h5></div>
<style>


table, td {
  padding: 0;
 line-height: normal;
  margin: 0;

}

  table{
        border-collapse: collapse;
  overflow-y: auto;
  overflow-x:auto;
      
        padding: 0;
 line-height: normal;
  margin: 0;
  }




  td {
    position: relative;
    vertical-align: top;
    top: 0;
  }

/*
  td table td button {
    display: block;
    margin: 0;
    top: 0;
  }
*/


</style>
<table width=100% style=" height: 92vh; position:absolute;top:78px;" id=t00>
                <tr style=" height: 42vh; ">
                <td>
                  <div class="table-container-2">
        <table style="position:relative;top:0;"  width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr></thead>



            <tbody>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 999            </td>          </tr>




            </tbody></table>

                  </div>
                </td>
        <td>
              <div class="table-container-2">
        <table border=1 style="position:relative;top:0;"  width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr></thead>



            <tbody>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 999            </td>          </tr>




            </tbody></table>

              </div>
        </td>
        </tr>

       <tr style=" height: 50vh; ">
           
            
            <td>
              <div class="table-container-2">
        <table border=1 style="position:relative;top:0;"  width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr></thead>



            <tbody>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 999            </td>          </tr>




            </tbody></table>

        </div>
        </td>
        <td>
              <div class="table-container-2">
        <table border=1 style="position:relative;top:0;"  width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr></thead>



            <tbody>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 999            </td>          </tr>




            </tbody></table>
              </div>
        </td>
        </tr>

</table>
{% endblock %}