{{% extends 'base0.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>Относительная нехватка ресурсов {{hh}} вперед</h5>
<br>

<table class="display compact hover nowrap" style="width:100%">
  <thead>

      <tr>
        <th>
          Проект\Ресурсный пул</th>
        {% for t in txy %}
        <th ><a href="{{t.link}}">
          {{t.val}}</a>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for xy in tab %}
      <tr>
        {% for x in xy %}

        {% if forloop.first %}
        <td style="background-color:{{x.color}}; width:150px;" ><a href="{{x.link}}" >
          {{x.val}}</a></td>
            {% else %}

        <td style="background-color:{{x.color}}; width:100px;" >
<!--        <a href="{{x.link}}" >-->
            {{x.val}}
<!--          </a>-->

        </td>{% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>


    </td></tr></table></div>
        {% include 'data0.html' %}

{% endblock %}