{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}


  <h5>Относительная нехватка ресурсов {{hh}} вперед</h5>


<table class="display compact" style="width:100%">
  <thead>

      <tr>
        <th>
          Проект\Ресурсный пул</th>
        {% for t in txy %}
        <th ><a href="{{t.link}}" class="br">
          {{t.val}}</a>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for xy in tab %}
      <tr>
        {% for x in xy %}

        {% if forloop.first %}
        <td style="background-color:{{x.color}}; width:150px;" class="hborder"><a href="{{x.link}}" >
          {{x.val}}</a></td>
            {% else %}

        <td style="background-color:{{x.color}}; width:100px;" class="hborder">
        <a href="{{x.link}}" >
            {{x.val}}
          </a>

        </td>{% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'data.html' %}

{% endblock %}