{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'nopadding.html' %}
{% load static %}
<style>
    body {
        overflow-y: hidden;
    }
</style>
<div class="bar">
  <h4>Проект: {{project}} - Все ресурсы</h4>
</div>

<table width=100% style=" height: 100vh;
overflow-y: hidden;
position:absolute;top:78px; " id=t00>
                <tr style=" height: 42vh; ">
    <td width=50% >

    <div class="table-container-2">
        <table border=none style="position:relative;border-color:white;" class="balance" width=100%>
          <thead>

            <tr>
              <th colspan=13>Балансы (<a href="/delta_j/0/0/{{j}}" style="color:white;">дельта</a>)
              </th>
            </tr>
            <tr>
               <th style="background:white;
      border-bottom: 1px solid grey;
               color:black;">
                {{project}}
                {% include 'moon.html' %}

                </tr></thead>
            <tbody>
                {% for dem in w1 %}
            <tr>
              {% for t in dem %}
              {% if forloop.first %}
              {% if t|negative %}{% else %}
              <td colspan=13>{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}
              <td>



                {{t}}

              </td>
              {% endif %}
              {% endfor %}

            </tr>

            {% endfor %}</tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table border=none width=100% style="

        position:relative;top:0;border-color:white;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/needs_j/{{p}}/{{r}}/{{j}}" style="color:white;" class="mmm">Потребность</a>
              <th>
            </tr>
            <tr>
          <th style="background:white;
        border-bottom: 1px solid grey;
          color:black;">

                <form id="f20" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='balance_j'>
                  <button type="submit" class="button3" disabled="true"> Сохранить</button>
                </form>

              </th>




              {% include 'moon.html' %}</tr></thead><tbody>
              {% for dem in w2 %}
            <tr>
              {% for t in dem %}
              <td class="{{t.class}}" action="/save_needs/" fname="f20" key="{{t.link}}"
                  style="background-color:{{t.color}};">
                {{t.val}}
              </td>
              {% endfor %}
            </tr> {% endfor %}
            </tbody>
        </table>
      </div>
    </td>
  </tr>
  <tr style="text-align:center;">
    <td width=50%>
      <div class="table-container-2">
        <table border=none width=100% style="position:relative;top:0;border-color:white;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/tasks_j/0/0/{{j}}" style="color:white;" class="uuu">
                  Загрузки</a>
              </th>
            </tr>
            <tr>
             <th style="background:white;
             border-bottom: 1px solid grey;
             color:black;">
                <form id="f10" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='balance_j'>
                  <button type="submit" class="button3" disabled="true">Сохранить</button>
                </form>
                {% include 'moon.html' %}</tr></thead><tbody>
                {% for tt in w3 %}
            <tr>
              {% for t in tt %}
              {% if forloop.first %}
              {% if t|negative %}

              {% else %}
              <td colspan=13 class="long">
                {{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}


              <td class="{{t.class}}" action="{% url 'save_task' %}"
                       fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}</tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table style="position:relative;top:0;border-color:white;
height: 55vh;
" width=100% class="dif">
          <thead>
            <tr>
              <th colspan=13> Остаточная доступность ресурсов</th>
            </tr>
            <tr>
         <th style="background:white;color:black;

border-bottom: 1px solid grey;
">
                Сотрудник
                {% include 'moon.html' %}</tr></thead><tbody>

            {% for tt in w4 %}
            <tr>
              {% for t in tt %}

              {% if forloop.first %}
              {% if t|negative %}

              {% else %}
              <td colspan=13 class="long">{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}
              <td>
                {{t}}
              </td>
              {% endif %}
              {% endfor %}

            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</div>



{% endblock %}