{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
<div class="bar">
  <h4>Проект: {{project}} - Ресурс: {{role}}</h4>
</div>

<table border="1" width=100% style="  position:absolute;top:78px;left:0;" id=t00><tbody>
      <tr style="text-align:center;"><td>Баланс (<a href="/delta_jr/0/{{r}}/{{j}}" class="dda">Дельта</a>)
      </td>>
      <td>  <a href="/needs_jr/{{p}}/{{r}}/{{j}}" class="mmm">Потребность</a></td>

      </tr>
                <tr>
    <td width=50% style="vertical-align:top;">
        <table class="display compact balance" width=100% id="example1">
          <thead>

       <tr style="text-align:center;">
                <th style="text-align:center;">---</th>
                      {% include 'moon.html' %}
              {% for tt in w1 %}
            <tr style="text-align:center;">
              {% for t in tt %}
              <td>
                {{t}}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
              </tbody>
        </table>


    </td>
    <td width=50% style="vertical-align:top;">
              <table width=100% class="display compact" id="example2">
          <thead>
            <tr style="text-align:center;">
              {% include 'moon.html' %}
         <tr style="text-align:center;">
              {% for t in w2 %}
              <td class="good" action="/save_needs/" fname="f20" key="{{t.link}}" style="background-color:{{t.color}};">
                {{t.val}}
              </td>
              {% endfor %}
            </tr>
            </tbody>
        </table>
    </td>
  </tr>
      <tr style="text-align:center;"><td><a href="/tasks_jr/0/{{r}}/{{j}}"  class="uuu">
                  Загрузки</a>
      </td><td>Остаточная доступность ресурсов</td></tr>
  <tr style="text-align:center; vertical-align:top;">
    <td width=50% style="vertical-align:top;">
        <table width=100% class="display compact" id="example3">
          <thead>
            <tr style="text-align:center;">
      <th style="text-align:center;">Сотрудник</th>
                {% include 'moon.html' %}
                {% for tt in w3 %}
                <tr style="text-align:center;">
              {% for t in tt %}
              <td class="good" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>{% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>


  <td width=50%>

                <table width=100% id="example4" class="display compact dif">
          <thead>
           <tr style="text-align:center;">
              <th style="text-align:center;">Сотрудник</th>
                        {% include 'moon.html' %}
                {% for dem in w4 %}
              <tr style="text-align:center;">
              {% for t in dem %}
              <td>{{t}}</td>{% endfor %}
            </tr>

            {% endfor %}
        </table>
    </td>
  </tr>
  </tbody>
</table>
      <form id="f20" method="POST">
        {% csrf_token %}
        <input type=hidden name="html" value='balance_jr'>
      </form>
             <form id="f10" method="POST">
                  {% csrf_token %} <input type=hidden name="html" value='balance_jr'>

                </form>


{% include 'data4.html' %}




{% endblock %}