{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'nopadding.html' %}
{% load static %}
<style>
    body {
        overflow-y: hidden;
    }
</style>
<div class="bar">
  <h4>Все проекты - Ресурс: {{role}}</h4>
</div>

<table width=100% style=" height: 100vh;border:none;border-color:white;
overflow-y: hidden;
 position:absolute;top:78px;"
       id=t00>
                <tr style=" height: 42vh; ">
    <td width=50% >
      <div class="table-container-2">
        <table border=none style="position:relative;top:0;border:none;border-color:white;"
               class="balance" width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы (<a href="/delta_r/0/{{r}}/0/"  style="color:white;">дельта</a>)
              <th>
            </tr>
            <tr>
        <th style="background:white;color:black;border-bottom: 1px solid grey;">
                      {{role}}
                {% include 'moon.html' %}</tr></thead><tbody>
                {% for dem in w1 %}
            <tr>
              {% for t in dem %}
              {% if forloop.first %}
              {% if t|negative %}{% else %}
              <td colspan=13>{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}
              <td style="background-color:{{t.color}};">

                {{t.val}}

              </td>
              {% endif %}
              {% endfor %}

            </tr>

            {% endfor %}
            </tbody>
        </table>
      </div>
    </td>
    <td width=50% id=td2>
      <div class="table-container-2">
        <table border=none width=100%
               style="position:relative;top:0;background-color:white;border:none;border-color:white;s" >
          <thead>
            <tr>
              <th colspan=13>
                <a href="/needs_r/0/{{r}}/{{j}}/" style="color: white" class="mmm">
                  Потребность
                </a>
              </th>
            </tr>
            <tr>
        <th style="background:white;
        border-bottom: 1px solid grey;
        color:black;">
                <form id="f20" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='balance_r'>
         <button   type="submit"  class="btn btn-primary"> Сохранить </button>
                </form>




                {% include 'moon.html' %}</tr></thead><tbody>
                {% for dem in w2 %}
            <tr>
              {% for t in dem %}
              {% if forloop.first %}
              <td style="background-color:{{t.color}};">

                  {{t.val}}

                {% else %}


              <td class="good" action="/save_needs/" fname="f20" key="{{t.link}}" style="background-color:{{t.color}};">
                {{t.val}}
                {% endif %}
              </td>


              {% endfor %}
            </tr> {% endfor %}

            </tbody>


        </table>
      </div>
    </td>
  </tr>
  <tr style="text-align:center;">
    <td width=50%>
      <div class="table-container-2">
        <table border=none width=100% style="position:relative;top:0;border:none;border-color:white;
        background-color:white;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/tasks_r/0/{{r}}/0/" style="color:white;" class="uuu">
                  Загрузки</a>
              </th>

            </tr>

            <tr>
        <th style="background:white;
border-bottom: 1px solid grey;
        color:black;">
                <form id="f10" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='balance_r'>
                  <input type=hidden name="r" value='{{r}}'>
          <button   type="submit"  class="btn btn-primary"> Сохранить </button>
                </form>

                {% include 'moon.html' %}</tr></thead><tbody>

            {% for tt in w3 %}
            <tr>
              {% for t in tt %}
              {% if forloop.first %}
              {% if t|negative %}{% else %}


              <td colspan=13>{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}

              <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>


              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}


          </tbody>


        </table>

      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table border=none style="border:none;border-color:white;
        position:relative;top:0;background-color:white;" width=100% class="dif">
          <thead>
            <tr>
              <th colspan=13> Остаточная доступность ресурсов</th>
            </tr>
            <tr>
              <th style="background:white;color:black;

border-bottom: 1px solid grey;
">
                Сотрудник
                {% include 'moon.html' %}</tr></thead><tbody>
                {% for tt in w4 %}
            <tr>
              {% for t in tt %}
              <td style="background-color:{{t.color}}">
                {{t.val}}
              </td>
              {% endfor %}

            </tr>

            {% endfor %}
            </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
{% endblock %}