{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'nopadding.html' %}
<style>
.hborder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}
</style>
<style>
    body {
        overflow-y: hidden;
    }
</style>
<div class="bar">
  <h4>Все проекты - Ресурс: {{role}}</h4>
</div>
<table width=100% style="overflow-y: hidden;
 height: 100vh; position:absolute;top:78px;border:none;border-color:white;" id=t00>
                <tr style=" height: 42vh; ">
    <td width=50% >
      <div class="table-container-2">
        <table border=none style="border:none;border-color:white;
        position:relative;top:0;" class="balance" width=100%>
          <thead>
            <tr>
              <th colspan=13>
                Балансы (<a href="/balance_r/0/{{r}}/0/" style="color:white;" >подробнее</a>)
              </th>
            </tr>
            <tr>
           <th style="background:white;border:none;border-color:white;color:black;">
                Проект</th>
              {% include 'moon.html' %}</tr></thead><tbody>
              {% for dem in w1 %}
            <tr class="hborder">
              {% for t in dem %}
              <td class="hborder">
                {% if forloop.first %}

                  {{t.val}}

                {% else %}
                {{t.val}}
                {% endif %}
              </td>
              {% endfor %}

            </tr>

            {% endfor %}



          <tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table width=100% style="border:none;border-color:white;
        position:relative;top:0;background-color:white;" class=in>
          <thead>
            <tr>
              <th colspan=13>
                <a href="/needs_r/0/{{r}}/{{j}}/" style="color: white" >
                  Потребность
                </a>
              </th>
            </tr><tr>
      <th style="background:white;
     border-bottom: 1px solid grey;
      color:black;">
              <form id="f20" method="POST">
                {% csrf_token %}
                <input type=hidden name="html" value='delta_r'>
                <button type="submit" class="button3" disabled="true">Сохранить</button>
              </form>

              {% include 'moon.html' %}</tr></thead><tbody>
              {% for dem in w2 %}
              <tr>
                {% for t in dem %}

                {% if forloop.first %} <td style="background-color:{{t.color}};">

                    {{t.val}}

                  {% else %}

                <td class="{{t.class}}" action="/save_needs/" fname="f20" key="{{t.link}}" style="background-color:{{t.color}};">
                  {{t.val}}
                  {% endif %}
                </td>



                {% endfor %}
              </tr> {% endfor %}

              </tbody>

        </table>
      </div>
    </td>
  </tr>
  <tr style="text-align:center;">
    <td width=50%>
      <div class="table-container-2">
        <table  width=100% style="border:none;border-color:white;
        position:relative;top:0;background-color:white;" >
          <thead>
            <tr>
              <th colspan=13>

                <a href="/tasks_r/0/{{r}}/0/" style="color:white;">
                  Загрузки</a>

              </th>
            </tr>
            <tr>
              <th style="background:white;
              border-bottom: 1px solid grey;
              color:black;">    <form id="f10" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='delta_r'>
                  <button type="submit" class="button3" disabled="true"> Сохранить</button>
                </form>

                {% include 'moon.html' %}</tr></thead><tbody>
          </thead>
          <tbody>
            {% for tt in w3 %}
            <tr>
              {% for t in tt %}
              {% if forloop.first %}
              {% if t|negative %}{% else %}
              <td colspan=13>{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}
              <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>
              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table border=none style="
        position:relative;top:0;background-color:white;border:none" width=100% class="dif in">
          <thead>
            <tr>
              <th colspan=13> Остаточная доступность ресурсов</th>
            </tr>
            <tr>
       <th style="background:white;

border-bottom: 1px solid grey;
       white;color:black;">
                Сотрудник
                {% include 'moon.html' %}</tr></thead><tbody>
                {% for tt in w4 %}
            <tr>
              {% for t in tt %}
              <td style="background-color:{{t.color}}">
                {{t.val}}
              </td>
              {% endfor %}

            </tr>

            {% endfor %}
            </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>

{% endblock %}