{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'nopadding.html' %}
<div class="bar">
  <h4>Проект: {{project}} - Все ресурсы</h4>
</div>
<table width=100% style=" height: 92vh;
border:1;border-color:white;
position:absolute;top:78px;" id=t00>
                <tr style=" height: 42vh; ">
    <td width=50% >
      <div class="table-container-2">
        <table border=1 style="position:relative;top:0;border:1;
        border-color:white;" class="balance" width=100%>
          <thead>
            <tr>
              <th colspan=13>
                Балансы
              <th>
            </tr>
            <tr>
              <th rowspan=2>{{project}}
                {% include 'moon.html' %}
                {% for dem in w1 %}
            <tr>
              {% for t in dem %}
              <td>              
                  {{t.val}}
              </td>
              {% endfor %}
            </tr>

            {% endfor %}<tr>
              <td colspan=13>
                <a href="/balance_j/0/0/{{j}}/" class="dda">подробнее</a>
              </td>
            <tr>
              </tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table border=1 width=100% style="position:relative;top:0;border:1;border-color:white;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/needs_j/{{p}}/{{r}}/{{j}}" style="color:white;" class="mmm">Потребность</a>
              <th>
            </tr>
            <tr>
              <th rowspan=2>
                <form id="f20" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='delta_j'>
                  <button type="submit" class="button3" disabled="true">Сохранить</button>
                </form>


                {% include 'moon.html' %}
                {% for dem in w2 %}
            <tr>
              {% for t in dem %}


              <td class="{{t.class}}" fname="f20" action="/save_needs/" key="{{t.link}}" style="background-color:{{t.color}};">
                {{t.val}}

              </td>


              {% endfor %}
            </tr> {% endfor %}


            </tbody>
        </table>
      </div>
    </td>
  </tr>
  <tr style="text-align:center;">
    <td width=50%>
      <div class="table-container-2">
        <table border=1 width=100% style="position:relative;top:0;border:1;border-color:white;">
          <thead>
            <tr>
              <th colspan=13>

                <a href="/tasks_j/0/0/{{j}}" style="color:white;" class="uuu">
                  Загрузки</a>


              <th>
            </tr>
            <tr>
              <th rowspan=2>

                <form id="f10" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='delta_j'>
                  <button type="submit" class="button3" disabled="true">Сохранить</button>
                </form>

                {% include 'moon.html' %}
                {% for tt in w3 %}
            <tr>
              {% for t in tt %}
              {% if forloop.first %}
              {% if t|negative %}{% else %}


              <td colspan=13>{{t}}</td>
            </tr>
            <tr>
              {% endif %}
              {% else %}




              <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>


              {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
      </div>
    </td>
    <td width=50%>
      <div class="table-container-2">
        <table border=1 style="position:relative;top:0;border:1;border-color:white;" width=100% class="dif">
          <thead>
            <tr>
              <th colspan=13> Остаточная доступность ресурсов</th>
            </tr>
            <tr>
              <th>Сотрудник
                {% include 'moon.html' %}
                {% for tt in w4 %}
            <tr>
              {% for t in tt %}

                  {% if forloop.first %}
                  {% if t|negative %}

                  {% else %}
                  <td colspan=13 class="long">{{t}}</td>
                </tr>
                <tr>
                  {% endif %}
              {% else %}
              <td>
                {{t}}
              </td>
              {% endif %}
              {% endfor %}

            </tr>
            </tbody>
            {% endfor %}
        </table>
      </div>
    </td>
  </tr>
</table>


{% endblock %}