.table-container {
  overflow-y: scroll; /* Добавляем вертикальный скролл */
  height: 300px; /* Устанавливаем высоту контейнера */
  position: relative; /* Устанавливаем позиционирование контейнера */
}

table {
  width: 100%; /* Устанавливаем ширину таблицы на 100% */
}

thead th {
  position: sticky; /* Устанавливаем позиционирование шапки таблицы */
  top: 0; /* Устанавливаем верхнюю границу шапки на 0 */
  background-color: #fff; /* Добавляем фоновый цвет шапке */
}
