  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  /* Adjust navbar item spacing */
  .navbar-nav {
    margin-left: auto;
    margin-right: 0;
  }

  .nav-item {
    margin-left: 1rem;
  }

