{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu2.html' %}

<table style="Position:absolute;top:80px;">
    <tr>
        <td><a href="/max/"   target="1">1) Максимальная доступность  </a></td>
        <td><a href="/needs_j/2/2/2/" style="color:rgb(246, 6, 46);"  target="1">2)Потребность</a></td>
        <td><a href="/needs_r/2/2/2/"  style="color:rgb(246, 6, 46);" target="1">3) Потребность</a></td>
        <td><a href="/needs_jr/2/2/2/" style="color:rgb(246, 6, 46);"  target="1">4) Потребность</a></td>
        <td><a href="/person_form/"  style="color:rgb(246, 6, 46);"  target="1">5) Создать человека</a></td>
        <td><a href="/person_form/2/" style="color:rgb(246, 6, 46);"   target="1">6)Изменить</a></td>

    </tr>
        <tr>
       <td><a href="/rest/"   style="color:rgb(246, 6, 46);"  target="1">7) Остаточная  доступность  </a></td>
          <td><a href="/tasks_j/2/2/2/" style="color:rgb(246, 6, 46);"  target="1">8) загрузки</a></td>
        <td><a href="/tasks_r/2/2/2/"  style="color:rgb(246, 6, 46);" target="1">9) загрузки</a></td>
        <td><a href="/tasks_jr/2/2/2/" style="color:rgb(246, 6, 46);"  target="1">10) загрузки</a></td>
        <td><a href="/role_form/" style="color:rgb(246, 6, 46);"   target="1">11) Создать роль</a></td>
        <td><a href="/role_form/2/" style="color:rgb(246, 6, 46);"   target="1">12) Изменить</a></td>
    </tr>
        <tr>
        <<td><a href="/people/"  style="color:rgb(246, 6, 46);" target="1">13) Все люди</a></td>
              <td><a href="/balance_j/2/2/2/"   target="1"> 14) баланс</a></td>
        <td><a href="/balance_r/2/2/2/"   target="1">15) баланс</a></td>
        <td><a href="/balance_jr/2/2/2/"   target="1">16) баланс</a></td>
        <td><a href="/project_form/" style="color:rgb(246, 6, 46);"   target="1">17) Создать проект</a></td>
        <td><a href="/project_form/2/" style="color:rgb(246, 6, 46);"   target="1">18) Изменить</a></td>
    </tr>
        <tr>
<td><a href="/roles/" style="color:red;"  target="1">19) Все роли </a></td>
            <td><a href="/delta_j/2/2/2/"   target="1">20) дельта</a></td>
        <td><a href="/delta_r/2/2/2/"   target="1">21) дельта</a></td>
        <td><a href="/delta_jr/2/2/2/"   target="1">22) дельта</a></td>
        <td><a href="/b/3/" style="color:rgb(246, 6, 46);"  target="1"> 26)Вход в балансы-</a></td>
        <td><a href="#"   target="1">-</a></td>
    </tr>
        <tr>
<td><a href="/tab_j/" style="color:rgb(248, 9, 9);"  target="1">23) Все проекты </a></td>

                <td><a href="/tab_r/" style="color:rgb(246, 9, 48);"  target="1">24) Все ресурсные пулы </a></td>

<td colspan="2"><a href="/prjlist/"  style="color:rgb(246, 6, 46);"  target="1">25) Маршрутная карта </a></td>
    </tr>

</table>

{% endblock %}