{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu2.html' %}

<table style="Position:absolute;top:80px;">
    <tr>
        <td><a href="/max/"   target="1">Максимальная доступность  </a></td>
        <td><a href="/needs_j/2/2/2/"   target="1">Потребность</a></td>
        <td><a href="/needs_r/2/2/2/"   target="1">Потребность</a></td>
        <td><a href="/needs_jr/2/2/2/"   target="1">Потребность</a></td>
        <td><a href="/person_form/"   target="1">Создать человека</a></td>
        <td><a href="/person_form/2/"   target="1">Изменить</a></td>

    </tr>
        <tr>
       <td><a href="/rest/"   target="1">Остаточная  доступность  </a></td>
          <td><a href="/tasks_j/2/2/2/"   target="1">загрузки</a></td>
        <td><a href="/tasks_r/2/2/2/"   target="1">загрузки</a></td>
        <td><a href="/tasks_jr/2/2/2/"   target="1">загрузки</a></td>
        <td><a href="/role_form/"   target="1">Создать роль</a></td>
        <td><a href="/role_form/2/"   target="1">Изменить</a></td>
    </tr>
        <tr>
        <<td><a href="/people/"   target="1">Все люди</a></td>
              <td><a href="/tasks_j/2/2/2/"   target="1">баланс</a></td>
        <td><a href="/tasks_r/2/2/2/"   target="1">баланс</a></td>
        <td><a href="/tasks_jr/2/2/2/"   target="1">баланс</a></td>
        <td><a href="/project_form/"   target="1">Создать проект</a></td>
        <td><a href="/project_form/2/"   target="1">Изменить</a></td>
    </tr>
        <tr>
<td><a href="/roles/"   target="1">Все роли </a></td>
            <td><a href="/delta_j/2/2/2/"   target="1">дельта</a></td>
        <td><a href="/delta_r/2/2/2/"   target="1">дельта</a></td>
        <td><a href="/delta_jr/2/2/2/"   target="1">дельта</a></td>
        <td><a href="#"   target="1">Создать</a></td>
        <td><a href="#"   target="1">Изменить</a></td>
    </tr>
        <tr>
<td><a href="/tab_j/"   target="1">Все проекты </a></td>
         <td>
<td colspan="2"><a href="/prjlist/"   target="1">Маршрутная карта </a></td>
    </tr>

</table>

{% endblock %}