{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

<table>
    <tr>
        <td>11</td>
        <td>22</td>
        <td>33</td>
        <td>44</td>
        <td>55</td>
        <td>66</td>
    </tr><tr>
        <td>111</td>
        <td>111</td>
        <td>222</td>
        <td>222</td>
        <td>333</td>
        <td>3333</td>
    </tr><tr>
        <td>2424</td>
        <td>3535</td>
        <td>1313</td>
        <td>24242</td>
        <td>2525</td>
        <td>3636</td>
    </tr><tr>
        <td>0000</td>
        <td>0000</td>
        <td>wwwww</td>
        <td>qqqq</td>
        <td>wwww</td>
        <td>wwww</td>
    </tr><tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr><tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>


{% endblock %}