{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
<div class="bar">
    <h4>Относительная нехватка ресурсов</h4></div>
<div class="table-container-4">
        <table border=1 style="position:relative;top:0;"  width=100%>
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr></thead>



            <tbody>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>            <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 1111111111111111111            </td>          </tr>
                        <tr>    <td>                 999            </td>          </tr>




            </tbody></table></div>


{% endblock %}