{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
{% include 'scroll.html' %}

{% include 'menu2.html' %}
<div class="bar">
  <h4>Проект: {{project}} - Ресурс: {{role}}</h4>
</div>

<table border=1 width=100% style=" height: 100vh; position:absolute;top:78px" id=t00>
  <tr style="text-align:center;">
    <td width=50%>
      <div class="table-container-2">
        <table border=1 style="position:relative;top:0;" width=100% class="balance">
          <thead>
            <tr>
              <th colspan=13>Балансы</th>
            </tr>
            <tr>
              <th>---
                {% include 'moon.html' %}
                {% for tt in w1 %}
            <tr>
              {% for t in tt %}
              <td>
                {% if t|isstr:'Дельта' %}
                <a href="/djr/0/{{r}}/{{j}}/" class="aad">{{t}}</a>
                {% else %}
                {{t}}
                {% endif %}
              </td>
              {% endfor %}

            </tr>

            {% endfor %}





            </tbody>
        </table>
      </div>
    </td>
    <td width=50% style="vertical-align:top;">
      <div class="table-container-2">
        <table border=1 width=100% style="position:relative;top:0;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/mmjr/{{p}}/{{r}}/{{j}}" style="color:white;" class="mmm">Потребность</a>
              </th>
            </tr>
            <tr>
              {% include 'moon.html' %}
            <tr>
              {% for t in w2 %}
              <td class="good" action="/s2/" fname="f20" key="{{t.link}}" style="background-color:{{t.color}};">

                {{t.val}}
              </td>
              {% endfor %}

            </tr>

            </tbody>
        </table>
      </div>
      <form id="f20" method="POST">
        {% csrf_token %}
        <input type=hidden name="html" value='ajr'>
        <button type="submit" class="button3 fixed-button2" disabled="true">Сохранить изменения</button>
      </form>




    </td>
  </tr>
  <tr style="text-align:center;">

    <td width=50%>
      <div class="table-container">
        <table border=1 width=100% style="position:relative;top:0;">
          <thead>
            <tr>
              <th colspan=13>
                <a href="/ujr/0/{{r}}/{{j}}" style="color:white;" class="uuu">
                  Загрузки</a>
              </th>
            </tr>
            <tr>
              <th>
                <form id="f10" method="POST">
                  {% csrf_token %}
                  <input type=hidden name="html" value='ajr'>
                  <button type="submit" class="button3" disabled="true">Сохранить</button>
                </form>

                {% include 'moon.html' %}

                {% for tt in w3 %}
            <tr>
              {% for t in tt %}

              <td class="good" action="/s1/" fname="f10" key="{{t.link}}" title="{{t.up}}"
                style="background-color:{{t.color}};">
                {{t.val}}
              </td>{% endfor %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
      </div>



    </td>
    <td width=50% style="vertical-align:top;">
      <div class="table-container">
        <table border=1 style="position:relative;top:0;vertical-align:top;" width=100% class="dif">
          <thead>
            <tr>
              <th colspan=13>Ресурсы (остаточная доступность)</th>
            </tr>
            <tr>
              <th>ФИО
                {% include 'moon.html' %}
                {% for dem in w4 %}
            <tr>
              {% for t in dem %}
              <td>{{t}}</td>{% endfor %}
            </tr>

            {% endfor %}
        </table>
      </div>
    </td>

  </tr>
</table>
{% include 'script.html' %}
{% include 'js.html' %}

{% endblock %}`