{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<table border=2 width=100%  style=" height: 100vh;
">
<tr><td colspan=2><h3 style="text-align:center;">Все проекты - {{role}}</h3>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>
    <div class="table-container">
    <table border=2
    style="position:relative;top=0;background-color:white;
    "  width=100% >

      <thead>
        <tr><th colspan=13>Балансировка <th></tr><tr><th>{{role}}
{% include 'moon.html' %}
</thead><tbody>
{% for dem in w1 %}
<tr>
{% for t in dem %}
{% if forloop.first %}
{% if t|negative %}{% else %}
<td colspan=13>{{t}}</td></tr><tr>
  {% endif %}
{% else %}
<td>
{% if t|isstr:'Дельта' %}
<a href="/dr/0/{{r}}/0/">{{t}}</a>
{% else %}
{{t}}
{% endif %}
</td>
{% endif %}
{% endfor %}

</tr>


{% endfor %}
</tbody>
    </table>
    </div>
  </td>
    <td width=50%>
          <div class="table-container">
      <table border=2 width=100% style="position:relative;top=0;background-color:white;
      "><thead>
          <tr><th colspan=13>
                  Потребность
          </th></tr><tr><th>{{role}}
        {% include 'moon.html' %}
        {% for dem in w2 %}
        <tr>
        {% for t in dem %}
            {% if forloop.first %}
                    <td>
               <a href="/mmjr/0/{{t.r}}/{{t.j}}/">        
{{t.val}}
               </a>         
            {% else %}
            
            
        <td class="good2 {{t.color}}" key="{{t.link}}" title="{{t.up}}">
{{t.val}}
             {% endif %}
</td>
           
            
{% endfor %}
</tr>        {% endfor %}



<tr><td colspan=13 style="text-align:center;">


  <form id="f20" action="/s11/" method="POST">
  {% csrf_token %}
            <input type = hidden name="html" value='ar'>
<input type = hidden name="id" value='{{id}}'>
<input type = hidden name="r" value='{{r}}'>
  <button type="submit" class="button3">Сохранить изменения</button></form>
{%  include 'script2.html'  %}




    </td></tr></tbody>
      </table>
</div>
    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>

            <div class="table-container">

        <table border=2 width=100% style="position:relative;top=0;background-color:white;"><thead>
            <tr><th colspan=13>
         <a href="/ur/{{r}}" style="color:white;">
              Утвержденные загрузки</a>
                               </th></tr>

            <tr><th>{{role}}
{% include 'moon.html' %}</thead><tbody>
{% for tt in w3 %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}


  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}

  <td class="good {{t.color}}" key="{{t.link}}" title="{{t.up}};">
    {{t.val}}
  </td>


{% endif %}
{% endfor %}</tr>
{% endfor %}


<tr><td colspan=13 style="text-align:center;">



        <!-- <tr><td colspan=13> -->
            <form id="f10" action="/s5/" method="POST">
            {% csrf_token %}
                      <input type = hidden name="html" value='ar'>
          <input type = hidden name="r" value='{{r}}'>
            <button type="submit" class="button3">Сохранить изменения </button>
          </form>
          {%  include 'script.html'  %}
          <!-- </td></tr> -->
    </td></tr></tbody>


        </table>

      </div>
        </td>

      <td  width=50%>
            <div class="table-container">
      <table border=2 style="position:relative;top=0;background-color:white;"
        width=100% class="dif" ><thead>
          <tr><th colspan=13>Ресурсы (остаточная доступность)</th></tr><tr><th>ФИО
{% include 'moon.html' %}
{% for tt in w4 %}
<tr>
{% for t in tt %}
<td>
{{t}}
</td>
{% endfor %}

</tr>

{% endfor %}

      </table></div>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
    {% include 'menu.html' %}
{% endblock %}
