{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>Все проекты</h4>
</div>



<table border="1" cellspacing="0" cellpadding="5" 
  style="position:absolute;top:80px;
         left:20px;
         text-align: center; background-color:#FFF;">
  <thead>
    <tr>
      <th>Руководитель</th>
      <th>Проект</th>
      <th>Потребность</th>
      <th>Балансы </th>

      <th>Назначения</th>
    </tr>

    <tr>
      {% for cell in data %}
      <td>

        {{ cell.name }}

      </td>
      <td style="text-align: center;">

        {{ cell.project }}

      <td style="text-align: center; ">
        <a href="/mmj/0/0/{{cell.j}}">
          Изменить
        </a>
      </td>

      <td style="text-align: center; ">
        <a href="/aj/0/0/{{cell.j}}">
          Смотреть
        </a>
      </td>


      <td style="text-align: center; ">
        <a href="/uj/0/0/{{cell.j}}">
          Смотреть
        </a>
      </td>
    </tr>
    {% endfor %}
</table>



{% endblock %}