{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>Руководители ресурсных пулов</h4>
</div>
<table border="1" cellspacing="0" cellpadding="5" width=100%
  style="position:absolute;top:80px;left:0;text-align: center; background-color:#FFF;">

  <thead>
    <tr>
      <th>Руководители ресурсных пулов</th>
      <th>ресурсы</th>
      <th>доступность максимальная</th>
      <th>доступность оставшаяся</th>
      <th>баланс </th>
      <th>назначения</th>

    </tr>

    <tr>
      {% for cell in data2 %}
      <td style="text-align: center; ">

        {{ cell.name }}

      </td>
      <td style="text-align: center; ">

        {{ cell.title }}

      </td>
      <td style="text-align: center; ">
        <a href="/mr1/0/{{cell.r}}/0/">
          изменить
        </a>
      </td>

      <td style="text-align: center; ">
        <a href="/mr2/0/{{cell.r}}/0/">
          смотреть
        </a>
      </td>
      <td style="text-align: center; ">
        <a href="/ar/0/{{cell.r}}/0/">
          смотреть
        </a>
      </td>

      <td style="text-align: center; ">
        <a href="/ur/0/{{cell.r}}/0/">
          изменить
        </a>
      </td>


    </tr>
    {% endfor %}
</table>

{% endblock %}