{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu.html' %}
<h3 style="text-align:center;">Ресурсы</h3>
<table border="2" cellspacing="0" cellpadding="5"
style="position:relative;text-align: center;" ><thead>
      <tr><th>Руководители ресурсных пулов</th><th>ресурсы</th>
        <th>доступность максимальная</th><th>баланс и назначения</th><th>доступность оставшаяся</th>
      </tr>

      <tr >
        {% for cell in data2 %}
        <td style="text-align: center; ">

          {{ cell.name }}

        </td>
        <td style="text-align: center; ">

          {{ cell.title }}

        </td>
        <td style="text-align: center; ">
          <a href="/mr1/0/{{cell.r}}/0/">
        изменить
</a>
        </td>
        <td style="text-align: center; ">
  <a href="/ar/0/{{cell.r}}/0/">
        смотреть
</a>
        </td>        <td style="text-align: center; ">
          <a href="/mr2/0/{{cell.r}}/0/">
        смотреть
</a>
        </td>

      </tr>
        {% endfor %}
</table>

{% endblock %}
