{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>Относительная нехватка ресурсов {{hh}} вперед</h4>
</div>
<div style=" position:absolute;top:80px; text-align:center;left:0; width:60%">
  <table border=1 >
    <thead>
      <tr>
        <th>
          Проект\Ресурсный пул</th>
        {% for t in txy %}
        <th style="padding: 5px;"><a href="{{t.link}}" style="color:white;" class="br">
            {{t.val}}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for xy in tab %}
      <tr>
        {% for x in xy %}

        {% if forloop.first %}
        <td style="background-color:{{x.color}};"><a href="{{x.link}}" class="bj">
            {% else %}

        <td style="background-color:{{x.color}};"><a href="{{x.link}}" class="brj">
            {% endif %}
            {{x.val}}

          </a>

        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% include 'js.html' %}
{% endblock %}