<script>
  window.onload = function () {
    var tables = document.getElementsByTagName("table");
    for (var i = 0; i < tables.length; i++) {
      var rows = tables[i].getElementsByTagName("tr");
      for (var j = 0; j < rows.length; j++) {

        var cells = rows[j].getElementsByTagName("td");
        for (var k = 0; k < cells.length; k++) {

    cells[k].style.borderTop =  'none';  // '1px solid darkgray';  // задаем верхнюю границу
    cells[k].style.borderBottom = '1px solid darkgray';  // задаем нижнюю границу
    cells[k].style.borderLeft = 'none';  // убираем левую границу
    cells[k].style.borderRight = 'none';  // убираем правую границу


        }
      }
    }
  };

</script>