{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}

<table border=2 width=100%>
<tr><td colspan=2><h3  style="text-align:center;">Все ресурсы - {{project}}</h3>
  <td></tr>
  <tr style="text-align:center;"><td  width=50%>

        <div class="table-container-2">
    <table border=2 style="position:relative;top=0;"  width=100% ><thead>
        <tr><th colspan=13>
          Дельта
            <th></tr><tr><th rowspan=2><b>{{project}}</b>
{% include 'moon.html' %}
{% for dem in w1 %}
<tr>
{% for t in dem %}
<td>
    {% if forloop.first %}
    <a href="/dr/0/{{t.r}}/0/">
{{t.val}}
    </a>
    {% else %}
    {{t.val}}
    {% endif %}
</td>
{% endfor %}
</tr>

{% endfor %}<tr><td colspan=13>
<a href="/aj/0/0/{{j}}/">подробнее</a></td><tr>
</tbody>
    </table>
    </div>
  </td>
    <td width=50%>  <div class="table-container-2">
      <table border=2 width=100% style="position:relative;top=0;"><thead>
          <tr><th colspan=13>
                     <a href="/mmj/{{p}}/{{r}}/{{j}}" style="color:white;">Потребность</a>
              <th></tr><tr><th rowspan=2><b>{{project}}</b>
        {% include 'moon.html' %}
        {% for dem in w2 %}
        <tr>
        {% for t in dem %}


 <td class="good2" key="{{t.link}}" title="{{t.up}};" style="background-color:{{t.color}};">
{{t.val}}
               
</td>


{% endfor %}
</tr>        {% endfor %}
<tr><td colspan=13 style="text-align:center;">


  <form id="f20" method="POST">
  {% csrf_token %}
            <input type = hidden name="html" value='dj'>
  <button type="submit" class="button3">Сохранить изменения</button></form>
{%  include 'script2.html'  %}




    </td></tr></tbody>
      </table>
        </div>
    </td></tr>
    <tr style="text-align:center;">

      <td width=50%>

                <div class="table-container">
        <table border=2 width=100% style="position:relative;top=0;"><thead>
            <tr><th colspan=13>
                
                <a href="/uj/0/0/{{j}}" style="color:white;">
              Утвержденные загрузки</a>
                
                
                <th></tr><tr><th rowspan=2>{{project}}
{% include 'moon.html' %}
{% for tt in w3 %}
<tr>
{% for t in tt %}
  {% if forloop.first %}
{% if t|negative %}{% else %}


  <td colspan=13>{{t}}</td></tr><tr>
    {% endif %}
  {% else %}



 <td class="good" key="{{t.link}}" title="{{t.up}};" style="background-color:{{t.color}};">
{{t.val}}
</td>


{% endif %}
{% endfor %}</tr>
{% endfor %}

<tr><td colspan=13 style="text-align:center;">


  <form id="f10" method="POST">
  {% csrf_token %}
            <input type = hidden name="html" value='dj'>
  <button type="submit" class="button3">Сохранить изменения</button></form>
{%  include 'script.html'  %}




    </td></tr></tbody>

            </tbody>
        </table>
        </div>
      </td>
      <td  width=50%>  <div class="table-container">
      <table border=2 style="position:relative;top=0;"  width=100% class="dif" >
        <thead>
          <tr><th colspan=13>Ресурсы (остаточная доступность)<th></tr><tr><th rowspan=2>ФИО
{% include 'moon.html' %}
{% for tt in w4 %}
<tr>
{% for t in tt %}

{% if forloop.first %}
{% if t|negative %}

{% else %}
  <td colspan=13>{{t}}</td></tr><tr>
{% endif %}
{% else %}
<td>
{{t}}
</td>
{% endif %}
{% endfor %}

</tr>
</tbody>
{% endfor %}
      </table>
      </div>
    </td>

    </tr>
  </table>
    {% include 'js.html' %}
{% include 'menu.html' %}
{% endblock %}
