{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}

<div class="bar">
    <h4>Проект:</h4>
</div>


<table border=2 width=30% style="position:absolute;left:20px;
top:80px;padding:5px;text-align:right;" id=t00>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}<tr>
            <td colspan="2">
                <button type="submit" class="button3">Изменить или создать</button>
            </td>
        </tr>
    </form>
</table>


{% endblock %}