<script>
$(window).on('load', function() {
    $('label')
    .before('<button id=im999  type="submit" class="btn btn-primary">Импорт</button>')
    .before('&nbsp;&nbsp;&nbsp;')
    .before('<button id=ex999  type="submit" class="btn btn-primary">Экспорт</button>')
    .before('&nbsp;&nbsp;&nbsp;')
    .before('<button id=add999  type="submit" class="btn btn-primary">Добавить</button>')
    ;
$('#im999').click(function() {
      window.location.href='/import_prj/';
  });

  $('#ex999').click(function() {
      window.location.href='/export_prj/';
  });


  $('#add999').click(function() {
      window.location.href='/project_form/';
  });
});

</script>