{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}

<div class="bar">
  <h4>Максимальная доступность ресурсов</h4>
</div>
<table border=1 style="position:absolute;top:80px;
left:20px;
text-align:center;" class="dif">
  <thead>

    <tr>
      <th>
        <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value='available_all'>
          <button type="submit" class="button3" disabled="true">Сохранить</button>
        </form>

        {% include 'moon.html' %}
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}
      {% if forloop.first %}


      {% if t|negative %}{% else %}
      <td colspan=13><a href="/max_r/0/{{t.r}}/0/" class="mrom">
          {{t.val}}</a>
      </td>
    </tr>
    <tr>
      {% endif %}


      {% else %}
      <td style="background-color:{{t.color}};" class="good" action="/sm/" fname="f10" key="{{t.link}}">

        {{t.val}}{% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>

        {% endif%}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}