<style>
    .bar {
        position: fixed;
        /* This will make the navbar stick to the top */
        top: 42px;
        /* This positions the navbar at the very top of the page */
        left: 0;
        /* This positions the navbar at the very top of the page */

        width: 100%;
        /* This will stretch the navbar across the entire width of the screen */
        overflow: hidden;
        background-color: white;
        z-index: 100;
        /* font-family: cursive; */
        padding: inherit;
    }

 

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 255, 1);
        z-index: 200;
        display: flex;
        justify-content: flex-end; 
    }

    .navbar .site-name{
        color:white;
        font-weight: bold;
        position:absolute;
        top:8px;
        left:12px; 
     /* display: flex;
     justify-content: normal;  */

    }

    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 0px 40px;
        text-decoration: none;
    }

    .dropdown {
        float: left;
        padding: 0 40px;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 0px 0px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }


    .navbar a:hover,
    .dropdown:hover .dropbtn {
        /* background-color: cornflowerblue; */
        shape-outside: content-box;
    }

    .dropdown-content {
        display: none;
        position: fixed;
        /* This will position the dropdown content relative to the viewport */
        top: 30px;
        /* This positions the dropdown content just below the navbar and the dropdown button */
        right: inherit;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }



    .dropdown-content a {
        float: none;
        color: black;
        padding: 0px 0px;
        text-decoration: none;
        display: block;
        text-align: left;
    }



    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
{% load static %}


<div class="navbar">
        <div class="site-name">
    Инструмент ресурсного планирования</div>

    <a href="/">Главная</a>
    <div class="dropdown">
        <button class="dropbtn">Проекты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/prjlist/" style="padding:10px;">Дорожная карта</a>
            <a href="/atj/" style="padding:10px;">Все проекты</a>

        </div>

    </div>
    <div class="dropdown">
        <button class="dropbtn">Ресурсы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/mrom/" style="padding:10px;">Максимальная доступность ресурсов</a>
            <a href="/mro/" style="padding:10px;">Остаточная доступность ресурсов</a>
            <a href="/atr/" style="padding:10px;">Все ресурсные пулы </a>
        </div>

    </div>
    <div class="dropdown">
        <button class="dropbtn">Балансы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/b/1/" style="padding:10px;">За месяц</a>
            <a href="/b/3/" style="padding:10px;">За 3 месяца</a>
            <a href="/b/6/" style="padding:10px;">За 6 месяцев</a>
            <a href="/b/12/" style="padding:10px;">За 12 месяцев</a>
        </div>

    </div>

</div>