
{% load static %}


<div class="navbar">
        <div class="site-name">
    Инструмент ресурсного планирования</div>

    {% if False %}
<a href="/members/logout/" id="logout">Выход</a>

<a href="/members/login/" id="login">Вход</a>
    {% endif %}

    <a href="/">Главная</a>
    <div class="dropdown">
        <button class="dropbtn">Проекты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/prjlist/" class="mm1" style="padding:10px;">Дорожная карта</a>
            <a href="/tab_j/" class="mm2" style="padding:10px;">Все проекты</a>
        <a href="/project_form/" class="mm3" style="padding:10px;">Добавить новый проект</a>
                 <a href="/prjlist/" class="mm4" style="padding:10px;">Редактировать карточку проекта</a>
        </div>

    </div>
        <div class="dropdown">
        <button class="dropbtn">Сотрудники
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/people/" class="mm5" style="padding:10px;">Все сотрудники</a>
           
     <a href="/person_form/" class="mm6" style="padding:10px;">Добавить нового сотрудника</a>
                 <a href="/people/" class="mm7"  style="padding:10px;">Редактировать карточку сотрудника</a>
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn">Ресурсы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/balance/0/0/4/" class="mm8"  style="padding:10px;">Максимальная доступность ресурсов</a>
            <a href="/rest/" class="mm9" style="padding:10px;">Остаточная доступность ресурсов</a>
            <a href="/tab_r/" class="mm10" style="padding:10px;">Все ресурсные пулы </a>
             <a href="/role_form/" class="mm11" style="padding:10px;">Добавить роль</a>
             <a href="/roles/" class="mm12" style="padding:10px;">Изменить роль</a>
        </div>

    </div>
    <div class="dropdown" >
        <button class="dropbtn" >Планирование
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/b/1/" class="mm13" style="padding:10px;">на месяц</a>
            <a href="/b/3/" style="padding:10px;">на 3 месяца</a>
            <a href="/b/6/" style="padding:10px;">на 6 месяцев</a>
            <a href="/b/12/" style="padding:10px;">на 12 месяцев</a>
        </div>

    </div>

</div>