
{% load static %}


<div class="navbar">
        <div class="site-name">
    Инструмент ресурсного планирования</div>
<!--<a href=# id="save">Сохранить</a>-->
    <a href="/">Главная</a>
    <div class="dropdown">
        <button class="dropbtn">Проекты
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/prjlist/" style="padding:10px;">Дорожная карта</a>
            <a href="/tab_j/" style="padding:10px;">Все проекты</a>
        <a href="/project_form/" style="padding:10px;">Добавить новый проект</a>
                 <a href="/prjlist/" style="padding:10px;">Редактировать карточку проекта</a>
        </div>

    </div>
        <div class="dropdown">
        <button class="dropbtn">Сотрудники
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/people/" style="padding:10px;">Все сотрудники</a>
           
     <a href="/person_form/" style="padding:10px;">Добавить нового сотрудника</a>
                 <a href="/people/" style="padding:10px;">Редактировать карточку сотрудника</a>
        </div>
    </div>


    <div class="dropdown">
        <button class="dropbtn">Ресурсы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/max/" style="padding:10px;">Максимальная доступность ресурсов</a>
            <a href="/rest/" style="padding:10px;">Остаточная доступность ресурсов</a>
            <a href="/tab_r/" style="padding:10px;">Все ресурсные пулы </a>
             <a href="/role_form/" style="padding:10px;">Добавить роль</a>
             <a href="/roles/" style="padding:10px;">Изменить роль</a>
        </div>

    </div>
    <div class="dropdown" >
        <button class="dropbtn" >Балансы
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/b/1/" style="padding:10px;">За месяц</a>
            <a href="/b/3/" style="padding:10px;">За 3 месяца</a>
            <a href="/b/6/" style="padding:10px;">За 6 месяцев</a>
            <a href="/b/12/" style="padding:10px;">За 12 месяцев</a>
        </div>

    </div>

</div>