{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'menu.html' %}
<h1>{{role}}</h1>


 <table border=2 style="position:relative;top=0;text-align:center;"  width=100% class="dif" >
          <tr><td colspan=13>Ресурсный пул (оставшаяся доступность)<td></tr><tr><td rowspan=2><b>ФИО</b></td></tr>
{% include 'moon.html' %}
{% for tt in dif15 %}
<tr>
{% for t in tt %}

{% if forloop.first %}

  <td>{{t}}</td>

{% else %}
  <td class="good" key="{{t.link}}" title="{{t.up}}">
{{t.title}}
</td>
{% endif %}
{% endfor %}

</tr>

{% endfor %}

</table>

    {% include 'js.html' %}
{% endblock %}
