{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}

<div class="bar">
  <h4>Ресурс: {{role}} (оставшаяся доступность)</h4>
</div>
<table border=1 style="position:absolute;top:80px;left:0;text-align:center;" class="dif">
    <thead>
  <tr>
    <th rowspan=2>
      ФИО
    </th>
  </tr>
  {% include 'moon.html' %}
  {% for tt in dif15 %}
  <tr>
    {% for t in tt %}

    {% if forloop.first %}

    <td>{{t}}</td>

    {% else %}
    <td class="good" key="{{t.link}}" title="{{t.up}}">
      {{t.title}}
    </td>
    {% endif %}
    {% endfor %}

  </tr>

  {% endfor %}

</table>

{% include 'js.html' %}
{% endblock %}