{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>
    Все сотрудники</h4>
</div>
<table border="1" cellspacing="0" cellpadding="5" 
  style="position:absolute;top:80px;
left:20px;
  text-align: center; background-color:#FFF;">

  <thead>
    <tr>
      <th>
          <a href="/person_form/" style="color:white;">
         ФИО
        </a>
        </th>
      <th colspan="6">Роли</th>


    </tr>
    </thead><tbody>
    <tr>
      {% for cell in data2 %}
      <td style="text-align: center; ">
<a href="/person_form/{{cell.id}}/">
        {{ cell.fio }}
          </a>
      </td>
      <td style="text-align: center; ">
{% if cell.role %}
             <a href="/grade_form/{{cell.id}}/{{cell.role.id}}/">
        {{ cell.role }}
                 {% if cell.grade %}
                 ({{cell.grade}})
                 {% endif %}
          </a>
          {% else %}
          ?
          {% endif %}
   {% for choice in cell.res %}
      </td>
      <td style="text-align: center; ">
          <a href="/grade_form/{{cell.id}}/{{choice.role_id}}/">
      {{ choice.role }}
       {% if choice.role %}
              ({{choice.grade}})
    {% endif %}
                        </a>
   {% endfor %}


      </td>

  


    </tr>
    {% endfor %}</tbody>
</table>

{% endblock %}