{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
<div class="bar">
  <h4>Дорожная карта</h4>
</div>
<table border=1 style=" height: 95vh; position:absolute;top:78px;left:20px;" id=t00>
  <tr style="text-align:center;">
    <td style="vertical-align:top;">
      <div class="table-container-4">
        <table border=1 style="position:relative;top:0;" class="balance" width=100%>

  <thead style="position:sticky;  text-align: center; background-color:#FFF;">
  <thead>

    <tr width=100% style="text-align: center;  padding: 5px;">
      <th colspan="17">Проекты</th>
    </tr>
    <th style="text-align: center; ">Руководитель</th>
    <th style="text-align: center;  padding: 5px;"> <a href="/project_form/" style="color:white;">
        Проект</a>
    </th>
    <th style="text-align: center;  padding: 5px;">Начало</th>
    <th style="text-align: center;  padding: 5px;">Окончание</th>
    <th style="text-align: center;  padding: 5px;">Длит<br>(мес)</th>

    {% include 'moon.html' %}
    {% for row in matrix %}
    <tr style="text-align: center;  padding: 5px;">
      {% for cell in row %}
      {% if cell|isBool %}
      <td class="{% if cell %}true{% else %}false{% endif %}">
        {% if cell %}*{% else %}-{% endif %}
      </td>
      {% else %}
      <td style="text-align: center; ">
        {% if cell|isObject %}
        <a href="/project_form/{{cell.id}}/">


          {{cell.title}}
        </a>
        {% else %}
        {{cell}}
        {% endif %}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
</table>

</div>


{% endblock %}