{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
<div class="bar">
  <h4>Остаточная доступность ресурсов</h4>
</div>
<div class="table-container-4">
        <table border=1 style="position:relative;top:0;"  width=100%>

  <thead style="position:sticky;  text-align: center; background-color:#FFF;">

  <thead>

    <tr>
      <th>Сотрудник

        {% include 'moon.html' %}
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}
      {% if forloop.first %}
      {% if t|negative %}{% else %}
      <td colspan=13>{{t}}</td>
    </tr>
    <tr>
      {% endif %}
      {% else %}
      <td>
        {{t}}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}

        </table></div>

{% endblock %}