{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>
   Роли</h4>
</div>
<table border="1" cellspacing="0" cellpadding="5" 
  style="position:absolute;top:80px;left:0;text-align: center; background-color:#FFF;">

  <thead>
    <tr>
<th>
          <a href="/role_form/" style="color:white;">
       Роль
        </a>
        </th>
      <th>Старший</th>


    </tr>
    </thead><tbody>
    <tr>
      {% for cell in data2 %}
      <td style="text-align: center; ">
<a href="/role_form/{{cell.id}}">
        {{ cell.title }}
          </a>
      </td>
      <td style="text-align: center; ">

        {{ cell.general }}

      </td>


    </tr>
    {% endfor %}</tbody>
</table>

{% endblock %}