<script>
  var f1;
  var element;
  var a;

  $('td.good').click(function () {
    var p = $(this).attr("key");
    a = $(this).attr("action");
    f1 = $(this).attr("fname");

    var originalValue = $(this).text();
    var x = $.trim(originalValue);
    if (x == '0') x = '';

    var ID = new Date().getTime();
    $(this).html('<input type="text" id=' + ID + ' size="1" maxlength="5" value="' + x + '">');

    element = document.getElementById(ID);
    element.focus();

    $(this).on('keypress', '#' + ID, function (event) {
      if (event.which === 13) { // 13 соответствует клавише Enter
        element.blur();
        $('.btn.btn-primary').prop('disabled', false);
      }
    });

    $(this).on('focusout', '#' + ID, function () {
      var newValue = $(this).val();
      $(this).parent().text(newValue + '@');

      var form = document.getElementById(f1);
      form.action = a;

      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = p;
      input.value = newValue;

      form.appendChild(input);
    });
  });

  // Обработчик события click для кнопки вне обработчика события focusout


$(window).on('load', function() {
    $('label').before('<button id=999  type="submit" disabled="true" class="btn btn-primary"> Сохранить </button>');
$('#999').click(function() {
    var form = document.getElementById('f10');
    form.submit();
  });
});

</script>
