
<script>
$('td.good2').click(function() {

  var p = $(this).attr("key");
  var originalValue = $(this).text();
    
  //$(this).html('<input type="text" size="1" maxlength="4" value="' + $.trim(originalValue) + '">');
    
    var currentTime = new Date().getTime();    
  $(this).html('<input type="text" id='+currentTime+' size="1" maxlength="4" value="' + $.trim(originalValue) + '">');
    //alert(1);
    var element = document.getElementById(currentTime);
    
    element.focus()
  $(this).click(function(){
  $(this).html(originalValue);
  })

  $('td input').focusout(function() {
    var newValue = $(this).val();
    $(this).parent().text(newValue+'@');

    var form = document.getElementById("f20");

    // Create a new hidden input element
    var input = document.createElement('input');

    input.type = 'hidden';
    input.name = p;
    input.value = newValue;
    //
    var cellWidth = $(this).clientWidth-4;
    var cellHeight = $(this).clientHeight-2;

    var container = $(this)
    input.style.width = cellWidth + "px";
    input.style.height = cellHeight + "px";
    //Add the new input element to the form
    form.appendChild(input);


});
});
</script>
