<style>
  table .out {
    background-color: #FFFFBB;
    height: 85hv;
    position: absolute;
    top: 80px;
  }

  table .in {
    background-color: #FFFFFF;
    height: 50hv;
    top: 0;
  }

  .table-container-2 {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 40vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }

  .table-container {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 50vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }



  .table-container-3 {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 60vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }
  .table-container-4 {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 85vh;
    /* Устанавливаем высоту контейнера */

 position:absolute;
 top:82px;
 left:22px;
 text-align:center;
  }

  table {
  overflow-y: scroll;
  }


  td {
    position: relative;
    vertical-align: top;
    top: 0;
  }

  td table {
    position: absolute;

    right: 0;
    top: 0;
  }

  td table td button {
    display: block;
    margin: 0 auto;
    top: 0;
  }

table {
  border-collapse: collapse;
}




</style>