<style>
  table .out {
    background-color: #FFFFBB;
    height: 100hv;
    position: absolute;
    top: 80px;
  }

  table .in {
    background-color: #FFFFFF;
    height: 50hv;
    top: 0;
  }

  .table-container-2 {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 40vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }

  .table-container {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 50vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }

  .table-container-3 {
    overflow-y: scroll;
    /* Добавляем вертикальный скролл */
    height: 60vh;
    /* Устанавливаем высоту контейнера */
    position: relative;
    /* Устанавливаем позиционирование контейнера */
    top: 0;
  }

  /* table {
    width: 100%;
    top: 0;
  } */


  td {
    position: relative;
    vertical-align: top;
    top: 0;
  }

  td table {
    position: absolute;

    right: 0;
    top: 0;
  }

  td table td button {
    display: block;
    margin: 0 auto;
    top: 0;
  }
</style>