{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
<div class="bar">
  <h4>
    Все ресурсные пулы</h4>
</div>
<table border=1 width=100% style=" height: 100vh; position:absolute;top:78px" id=t00>
  <tr style="text-align:center;">
    <td width=50% style="vertical-align:top;">
      <div class="table-container-4">
<table border="1" cellspacing="0" cellpadding="5" 
  style="position:absolute;top:80px;left:20px;text-align: center; background-color:#FFF;">

  <thead>
    <tr>
      <th>Руководитель</th>
      <th>
          <a href=# style="color:white;">
          Ресурсный пул
        </a>
        </th>
      <th>Максимальная доступность</th>
      <th>Остаточная доступность</th>
      <th>Балансы </th>
      <th>Назначения</th>

    </tr>
    </thead><tbody>
    <tr>
      {% for cell in data2 %}
      <td style="text-align: center; ">
<a href=#>
        {{ cell.name }}
          </a>
      </td>
      <td style="text-align: center; ">

        {{ cell.title }}

      </td>
      <td style="text-align: center; ">
        <a href="/max_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>

      <td style="text-align: center; ">
        <a href="/rest_r/0/{{cell.r}}/0/">
          Смотреть
        </a>
      </td>
      <td style="text-align: center; ">
        <a href="/balance_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>

      <td style="text-align: center; ">
        <a href="/tasks_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>


    </tr>
    {% endfor %}</tbody>
</table>
</div>

</table>

{% endblock %}