{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
<h3 style="text-align:center;">
    <a href="/djr/0/{{role.id}}/{{project.id}}/" class="uuu">{{project}} - {{role}}</a></h3>

<table border=2 width=100% style="position:relative;top:0; text-align:center;">
  <thead>
    <tr>
      <th colspan=13>
        <a href="/djr/0/{{r}}/{{j}}" style="color:white">
          Загрузки</a>
      </th>
    </tr>
    <tr>
      <th>ФИО
        {% include 'moon.html' %}

        {% for tt in w3 %}
    <tr>
      {% for t in tt %}




      <td class="good" key="{{t.link}}" title="{{t.up}}" style="background-color:{{t.color}};">
        {{t.val}}
      </td>{% endfor %}
    </tr>
    {% endfor %}
        </tbody>
</table>
        <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value='ujr'>

          <button type="submit" class="button3 fixed-button1" disabled="true">Сохранить изменения</button>
        </form>
        {% include 'script.html' %}


{% include 'js.html' %}
{% include 'menu.html' %}
{% endblock %}