{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>Проект: {{project}} - Ресурс: {{role}}</h4>
</div>
<table border=1 style="position:absolute;top:80px;text-align:center;" width=100%>
  <thead>
    <tr>
      <th colspan=13>
        <a href="/djr/0/{{r}}/{{j}}" style="color:white">
          Загрузки</a>
      </th>
    </tr>
    <tr>
      <th>
        <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value='ujr'>

          <button type="submit" class="button3 " disabled="true">Сохранить</button>
        </form>

        {% include 'moon.html' %}

        {% for tt in w3 %}
    <tr>
      {% for t in tt %}




      <td class="good" action="/s1/" fname="f10" key="{{t.link}}" title="{{t.up}}"
        style="background-color:{{t.color}};">
        {{t.val}}
          {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>
        {% endif%}
      </td>{% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>


{% include 'script.html' %}
{% include 'js.html' %}

{% endblock %}