{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'scroll.html' %}
{% include 'menu2.html' %}
<div class="bar">
  <h4>Все проекты - Ресурс: {{role}}</h4>
</div>
<table border=1 style="position:absolute;top:80px;text-align:center;" >
  <thead>
    <tr>
      <th colspan=13>
        <a href="/dr/0/{{r}}/0/" style="color:white">
          Загрузки
        </a>
      </th>
    </tr>
    <tr>
      <th>
        <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value='ur'>
          <button type="submit" class="button3" disabled="true"> Сохранить</button>
        </form>

        {% include 'moon.html' %}
  </thead>
  <tbody>
    {% for tt in w3 %}
    <tr>
      {% for t in tt %}

      {% if forloop.first %}
      {% if t|negative %}{% else %}
      <td colspan=13>{{t.val}}
        {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>

        {% endif%}
        
        </td>
    </tr>
    <tr>
      {% endif %}
      {% else %}


      <td class="good" action="/assign_workload/" fname="f10" key="{{t.link}}" title="{{t.up}}"
        style="background-color:{{t.color}};">
        {{t.val}}
      </td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'script.html' %}

{% include 'js.html' %}
{% endblock %}