<script>
    // Добавьте этот код перед вашим AJAX-запросом
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Теперь у вас есть CSRF-токен, и вы можете сделать ваш AJAX-запрос


</script>

<script>






    $('td.wish').click(function () {
        var currentTitle = $(this).attr('title');
        var w = prompt('Напишите ваши пожелания!', currentTitle);
        $(this).attr('title', w);

var cell = $(this).html();
$(this).html(cell+'!');


        var project = $(this).attr('project');
        var role = $(this).attr('role');

        $.ajax({
            type: "POST",
            url: "/save_wish/",

            data: {
                'wish': w,
                'project': project,
                'role': role
            },
            success: function(response) {
                alert("ok!")
                console.log(response);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // Обработка ошибок при выполнении запроса
                console.log(textStatus, errorThrown);
            }
        });
    });
</script>

