{% extends 'base0.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'menu2.html' %}
<br>
    <h5 style="margin-left:32px">Главная страница</h5>
<br>

    <table style="border: none; border-collapse: collapse;" >       
 
        <tr  style="vertical-align:top; text-align:left;">
            
      <td style="border-collapse: collapse;   border: none; ">
        <h5  style="text-align:left; padding:10px;margin-left:20px;"> Проекты</h5>
              <ul style="text-align:left;">
                <li><a href="/prjlist/" class="hh1"> Дорожная карта</a></li>
                 <li><a href="/tab_j/" class="hh2"> Все проекты</a></li>
                <li><a href="/project_form/" class="hh3">Добавить новый проект</a></li>
                <li><a href="/tab_j/" class="hh4"> Редактировать карточку проекта</a></li>
            </ul>

    </td>       
            
            
            <td style="border-collapse: collapse;   border: none; ">

        <h5  style="text-align:left; padding:10px;margin-left:20px;">Сотрудники</h5>
            <ul style="text-align:left;">
                <li><a href="/people/" class="hh5">Все сотрудники</a></li>
                <li><a href="/person_form/" class="hh6">Добавить нового сотрудника</a></li>
                <li><a href="/people/" class="hh7">Редактировать карточку сотрудника</a></li>

            </ul>
    </td>


       <td style="border-collapse: collapse;   border: none; ">
       <h5  style="text-align:left; padding:10px;margin-left:20px;"> Ресурсы</h5>
               <ul style="text-align:left;">

                 <li><a href="/max/" class="hh8">Максимальная доступность ресурсов</a>
                <li><a href="/rest/" class="hh9">Остаточная доступность ресурсов</a></li>
                <li><a href="/roles/" class="hh10">Все ресурсные пулы</a></li>
                <li><a href="/role_form/" class="hh11">Добавить роль </a></li>
                <li><a href="/roles/" class="hh12">Изменить роль</a></li>

</ul>

        </td>
        </tr>
        <tr style="vertical-align:top; text-align:left;">
          <td style="border-collapse: collapse;   border: none; ">

       <h5  style="text-align:left; padding:10px;margin-left:20px;">
            Планирование</h5>

           <ul style="text-align:left;">
                <li><a href="/b/1" class="hh13">За месяц</a></li>

                <li><a href="/b/3" class="hh14">За 3 месяца</a></li>
                <li><a href="/b/6" class="hh15">За 6 месяцев</a></li>

                <li><a href="/b/12" class="hh16">За 12 месяцев</a>
                </li>

            </ul>

</td>
<td style="border-collapse: collapse;   border: none; ">
       <h5  style="text-align:left; padding:10px;margin-left:20px;"> Руководитель проекта</h5>
   <ul style="text-align:left;">
                  <li>
                    <a href="/b/6/" > Сформировать потребность </a>  </li> <li>
                    <a href="/b/6/"> Сбалансировать спрос </a>  </li> <li>
                    <a href="/b/6/" > Посмотреть загрузку </a>                </li>


            </ul>
        </td>

 <td style="border-collapse: collapse;   border: none; ">


                 <h5  style="text-align:left; padding:10px;margin-left:20px;"> Руководитель ресурса</h5>
            <ul style="text-align:left;">
                <li><a href="/tab_r/" class="hh20">Определить доступность ресурсов</a></li>
  <li><a href="/b/6/" class="hh21">Сбалансировать спрос по пулу</a></li>
  <li><a href="/b/6/" class="hh22">Определить загрузку</a></li>

            </ul>




            </td></tr>
            </table>

{% endblock %}