{% extends 'base1.html' %}

{% block content %}
<a href="/res/{{project.id}}">посмотреть как распределены ресурсы</a>
<h2>{{project}}</h2>
{{d1}}-{{d2}}
<table>
<table border="2">
  <tr>
    <th  style="text-align: center;">Роль</th>
    {% for y,m in month_tuples %}
      <th  style="text-align: center;  padding: 5px;">

        {{y}}<br>{{m}}
        </a>
      </th>
   {% endfor %}

  </tr>
  {% for row in data %}
    <tr>
      {% for cell in row %}
        <td  style="text-align: center; padding: 5px;">{{ cell }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

</table>
{% endblock %}