{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>      <a href="/balance/{{id}}/{{coord}}/1/" style="color:black;">Загрузки
          </a> / Проект:
      <span style="color:blue">{{project_name}}</span>
      - Ресурс:
      <span style="color:blue">{{role_name}}</span>
</h5>
</div>
<table class="display compact" style="width:80%;">
      <thead>
 <tr>
      <th style="text-align:left;" >
          {{res_or_prj}}</th>
           <th style="text-align:left;" >
Сотрудник </th>
        {% include 'moon.html' %}</tr></thead><tbody>
      {% for dem in w3 %}

        {% for t in dem %}
      {% if forloop.first %}
 <tr class="{{t.class}}">
     {% endif %}

        <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
            project="{{t.project}}"
            role="{{t.role}}"
          style="background-color: {{t.color}};text-align:{{t.align}};white-space: nowrap;">
          {{t.val}}
        </td>
        {% endfor %}
      </tr> {% endfor %}
      </tbody>
</table>

    </td></tr></table></div>
        {% include 'dat.html' %}
  <form  method="POST" id="f10">
            {% csrf_token %}

      <input type=hidden name="html" value='/balance/{{id}}/{{coord}}/{{mod}}/'>


          </form>
{% include 'save_cell_js4.html' %}

 {% include 'wish_js.html' %}
{% endblock %}