{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>Максимальная доступность ресурсов</h5>
<table  class="display compact">
  <thead>

    <tr>
      <th style="text-align:center;">Ресурс </th>
        <th style="text-align:center;  ">Сотрудник</th>

        {% include 'moon.html' %}</tr></thead><tbody>
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}

      <td style="background-color:{{t.color}};text-align:center;"
          class="{{t.class}}" action="/save_max/" fname="f10" key="{{t.link}}">
          {{t.val}}
        {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>
        {% endif%}
      </td>

      {% endfor %}
    </tr>
    {% endfor %}
</table>

            <form id="f10" method="POST" action="/save_max/">
          {% csrf_token %}
          <input type=hidden name="html" value='max'>



        </form>


        {% include 'data2.html' %}
{% endblock %}