{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table  width="80%"><tr><td>
  <h5>    Максимальная доступность ресурсов{{res}}</h5>
<table  class=" display compact hover nowrap" width="100%">
  <thead>
    <tr>
      <th style="text-align:left;border-bottom: 1px solid grey;">Ресурс </th>
        <th style="text-align:left; border-bottom: 1px solid grey; ">Сотрудник</th>
        {% include 'moon.html' %}</tr></thead><tbody>
        {% for tt in dif14 %}
    {% for t in tt %}
{% if forloop.first %}
        <tr class="{{t.class}}">
{% else %}

      <td style="background-color:{{t.color}};text-align:{{t.align}};"
          class="{{t.class}}" action="/save_max/" fname="f10" key="{{t.link}}" >
          {{t.val}}
        {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>
        {% endif%}
      </td>
           {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
</table>

    </td></tr></table></div>
        {% include 'dat.html' %}
<form id="f10" method="POST" action="/save_max/">
          {% csrf_token %}
          <input type=hidden name="html" value='max'>
        </form>

{% include 'save_cell_js4.html' %}
{% endblock %}