{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>Максимальная доступность ресурсов</h5>

<table id="example" class="display compact dif">
  <thead>

    <tr>
      <th style="text-align:center;">Ресурс </th> <th style="text-align:center;">Сотрудник</th>

        {% include 'moon.html' %}
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}

      <td style="background-color:{{t.color}};"
          class="good" action="/save_max/" fname="f10" key="{{t.link}}" title="осталось {{fire}}%">
          {{t.val}}
        {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>
        {% endif%}
      </td>

      {% endfor %}
    </tr>
    {% endfor %}
</table>

            <form id="f10" method="POST">
          {% csrf_token %}
          <input type=hidden name="html" value='max'>
        </form>
        {% include 'data.html' %}
{% endblock %}