{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>Проект: {{project}} - Ресурсный пул: {{role}} -
<a href="/delta_jr/0/{{r}}/{{j}}" style="color:black;">Потребность
          </a></h5>

<table class="display compact duo" style="width:100%;">
  <thead>
    <tr style="text-align:center;">

      {% include 'moon.html' %}</tr></thead><tbody>
      {% for dem in w2 %}
      <tr style="text-align:center;">
        {% for t in dem %}

        <td class="{{t.color}}" action="/save_needs/" fname=f20 key="{{t.link}}" title="{{t.up}}"
          style="background-color: {{t.color}};">
          {{t.val}}
        </td>
        {% endfor %}
      </tr> {% endfor %}
      </tbody>

</table>
{% include 'data2.html' %}
  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}          <input type=hidden name="html" value='needs_jr'>
    <div style="position:absolute;top:60px;right:600px;">
<button   type="submit"  class="btn btn-primary"> Сохранить  </button>
</div>
          </form>
 



{% endblock %}