{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
<div class="bar"><a href="/delta_jr/0/{{r}}/{{j}}/">
  <h4>Проект: {{project}} - Ресурсный пул: {{role}} - Потребность</h4></a>
</div>

<table id="example" class="display compact" style="width:100%;">
  <thead>
    <tr style="text-align:center;">

      {% include 'moon.html' %}
      {% for dem in w2 %}
      <tr style="text-align:center;">
        {% for t in dem %}

        <td class="good" action="/save_needs/" fname=f20 key="{{t.link}}" title="{{t.up}}"
          style="background-color: {{t.color}}">
          {{t.val}}
        </td>
        {% endfor %}
      </tr> {% endfor %}
      </tbody>

</table>
{% include 'data.html' %}
  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}          <input type=hidden name="html" value='needs_jr'>
          </form>
 



{% endblock %}