{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'page.html' %}
<div class="bar">
  <h4>Проект: {{project}} - Потребность</h4>
</div>
<div class="page">
<table border=1 style="position:absolute;top:80px;left:20px;text-align:center;" >
  <thead>
    <tr>
      <th colspan=13>
        <a href="/delta_j/0/0/{{j}}/" style="color:white">
          Потребность</a>
        </td>
    </tr>
    <th rowspan=2>
      <form id="f20" method="POST" style="text-align:center;">
        {% csrf_token %}
        <input type=hidden name="html" value='needs_j'>
        <div style="text-align:center;">
          <button type="submit" class="button3" disabled="true">Сохранить</button>
        </div>
      </form>
      {% include 'moon.html' %}
      {% for dem in w2 %}
      <tr>
        {% for t in dem %}

        <td class="good" action="/save_needs/" fname="f20" key="{{t.link}}" title="{{t.up}}"
          style="background-color: {{t.color}}">
          {{t.val}}
        </td>
        {% endfor %}
      </tr> {% endfor %}
      </tbody>
</table>
</div>
{% endblock %}