{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>
  Ресурсный пул: {{role}} -
      <a href="/delta_r/0/{{r}}/{{j}}" style="color:black;">Потребность
          </a></h5>

<table id="example" class="display compact" style="width:100%;">
  <thead>
    <tr style="text-align:center;">

      <th class="hborder" style="text-align:center;">
Проект
        {% include 'moon.html' %}</tr></thead><tbody>
        {% for dem in w2 %}
        <tr style="text-align:center;">
      {% for t in dem %}

      <td class="{{t.class}}" action="/save_needs/" fname=f10 key="{{t.link}}" title="{{t.up}}"
          style="background-color:{{t.color}}">
        {{t.val}}
      </td>
      {% endfor %}
    </tr> {% endfor %}
    </tbody>
</table>

{% include 'data2.html' %}
  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}          <input type=hidden name="html" value='needs_r'>
          </form>
 

{% endblock %}