{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>
    Все сотрудники</h5>


<table id="example" class="display compact" style="width:100%;"><thead>
    <tr>
      <th style="text-align:center;">
         Сотрудник
        </th>
        <th style="text-align:center;">Ресурсный пул</th>


    </thead>
    <tbody>

      {% for cell in data2 %} <tr>
      <td style="text-align: center; ">
<a href="/person_form/{{cell.id}}/">
        {{ cell.fio }}
          </a></td><td>

{% if cell.role %}
             <a href="/grade_form/{{cell.id}}/{{cell.role.id}}/">
        {{ cell.role }}
                 {% if cell.grade %}
                 ({{cell.grade}})
                 {% endif %}
          </a>
          {% else %}
          ?
          {% endif %}
   {% for choice in cell.res %}


       |   <a href="/grade_form/{{cell.id}}/{{choice.id}}/">
      {{ choice.role }}
       {% if choice.role %}
              ({{choice.grade}}){% else %}
              .
    {% endif %}
                        </a>
   {% endfor %}


</td>
    </tr>
    {% endfor %}</tbody>
</table>
{% include 'data.html' %}


{% endblock %}