{% extends 'base0.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{%  include 'menu2.html'  %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>
    Все сотрудники</h5>
<table  class="display compact " style="width:100%;"><thead>
    <tr>
      <th style="text-align:left;">
         Сотрудник
        </th>
        <th style="text-align:left;">Ресурсный пул</th>


    </thead>
    <tbody>

      {% for cell in data2 %} <tr>
      <td style="text-align: left; background-color:{{cell.color}};">
<a href="/person_form/{{cell.id}}/">
        {{ cell.fio }}
          </a></td>
      <td style="text-align: left; background-color:{{cell.color}};">

{% if cell.role %}
             <a href="/grade_form/{{cell.id}}/{{cell.role.id}}/">
        {{ cell.role }}
                 {% if cell.grade %}
                 ({{cell.grade}})
                 {% endif %}
          </a>
          {% else %}
          ?
          {% endif %}
   {% for choice in cell.res %}


       |   <a href="/grade_form/{{cell.id}}/{{choice.id}}/">
      {{ choice.role }}
       {% if choice.role %}
              ({{choice.grade}}){% else %}
              .
    {% endif %}
                        </a>
   {% endfor %}


</td>
    </tr>
    {% endfor %}</tbody>
</table>
    </td></tr></table></div>
        {% include 'data2.html' %}


{% endblock %}