{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:100px">
<table  width="80%"><tr><td>
  <h5> Все сотрудники   </h5>
<table  class=" display compact hover nowrap" width="100%">

    <thead>
    <tr>
      <th style="text-align:left;">
         Сотрудник
        </th>
        <th style="text-align:left;">Ресурсный пул</th>


    </thead>
    <tbody>

      {% for cell in data2 %}
      <tr class="{{cell.class}}">
      <td style="text-align: left; ">
<a href="/person_form/{{cell.id}}/">
        {{ cell.fio }}
          </a></td>
      <td style="text-align: left; ">

{% if cell.role %}
             <a href="/grade_form/{{cell.id}}/{{cell.role.id}}/">
        {{ cell.role }}
                 {% if cell.grade %}
                 ({{cell.grade}})
                 {% endif %}
          </a>
          {% else %}
          ?
          {% endif %}
   {% for choice in cell.res %}


       |   <a href="/grade_form/{{cell.id}}/{{choice.id}}/">
      {{ choice.role }}
       {% if choice.role %}
              ({{choice.grade}}){% else %}
              .
    {% endif %}
                        </a>
   {% endfor %}


</td>
    </tr>
    {% endfor %}</tbody>
</table>
    </td></tr></table></div>s
        {% include 'dat.html' %}


{% endblock %}