{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px; width:80%">
<table><tr><td>
  <h5>   Дорожная карта</h5>
</td></tr><tr><td>
<table  class="display dataTable compact"
        style="width:100%;">

  <thead style="width:100%; padding-left: 0; margin-left: 0;">

    <tr>
    <th>Руководитель</th>
    <th style="white-space: nowrap;">      Проект&nbsp;&nbsp;</th>
    <th style="text-align: left; ">Начaло</th>
    <th style="text-align: left ">Оконч.</th>
    <th style="text-align: left ">Длит.<br>(мес)</th>

    {% include 'moon.html' %}</tr></thead><tbody>
    {% for row in matrix %}
         {% for cell in row %}
    {% if forloop.first %}
        <tr style=" padding: 5px;  white-space: nowrap;" class="{{cell.class}}">
    {% else %}

      <td style="text-align: {{cell.align}}; background-color:{{cell.color}}">
        {% if cell.id %}
        <a href="/project_form/{{cell.id}}/">
          {{cell.val}}
        </a>
        {% else %}
        {{cell.val}}
        {% endif %}
        {% endif %}
      </td>

      {% endfor %}
</tr>
    {% endfor %}
</tbody></table>
    </td></tr></table></div>

{% include 'dat.html' %}

{% endblock %}