{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>Остаточная доступность ресурсов</h5>

<table  class=" display compact hover nowrap" style="width:100%;">
  <thead ><tr>

    <th>Ресурс</th>
      <th>Сотрудник</th>

        {% include 'moon.html' %}</tr></thead><tbody>
        {% for tt in dif14 %}
      {% for t in tt %}
        {% if forloop.first %}
        <tr class="{{t.class}}">

        <td>
        {{t.val}}
      </td>
          {% else %}
        <td style="text-align:{{t.align}};background-color:{{t.color}}" class="{{t.class}}">
        {{t.val}}
      </td>
          {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}

        </table>
</td></tr></table></div>
{% include 'dat.html' %}


{% endblock %}