{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
<div class="bar">
  <h4>Остаточная доступность ресурсов</h4>
</div>
<table id="example" class="display compact dif" style="width:100%;">
  <thead ><tr>

  <th>Ресурс</th>
      <th>Сотрудник</th>

        {% include 'moon.html' %}
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}
        <td style="text-align:center">
        {{t}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}

        </table>
{% include 'data.html' %}
{% endblock %}