{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}
{% include 'page.html' %}

  <h5>Ресурс: {{role}} (остаточная доступность)</h5>

<div class="table-container-4 page">
        <table border=1 style="position:relative;top:0;" class="dif"  width=100%>

  <thead style="position:sticky;  text-align: center; background-color:#FFF;">
    <thead>
  <tr>
    <th>
     Сотрудник
    </th>
  </tr>
  {% include 'moon.html' %}
  {% for tt in dif15 %}
  <tr>
    {% for t in tt %}

    {% if forloop.first %}

    <td>{{t}}</td>

    {% else %}
    <td class="good" key="{{t.link}}" title="{{t.up}}">
      {{t.title}}
    </td>
    {% endif %}
    {% endfor %}

  </tr>

  {% endfor %}

</table>
</div>

{% endblock %}