{% extends 'base0.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>Остаточная доступность ресурсов</h5>
<br>
<table  class="display compact" style="width:100%;">
  <thead ><tr>

    <th>Ресурс</th>
      <th>Сотрудник</th>

        {% include 'moon.html' %}</tr></thead><tbody>
        {% for tt in dif14 %}

    <tr>
      {% for t in tt %}
        <td style="text-align:{{t.align}};background-color:{{t.color}}">
        {{t.val}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}

        </table>
</td></tr></table></div>
{% include 'data1.html' %}
{% endblock %}