{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}



  <h5>
 Все роли</h5>


<table id="example" class="display compact" style="width:100%;"><thead>
  <tr style="text-align:left;">
    <th style="text-align:left;">

       Роль


     </th>
     <th style="text-align:left;">

      Руководитель ресурсного пула</th>
    </tr>
    </thead><tbody>

      {% for cell in data2 %}    <tr style="text-align: left; backround-color={{cell.color}};">
      <td style="text-align: left; ">
<a href="/role_form/{{cell.id}}">
        {{ cell.title }}
          </a>
      </td>
      <td style="text-align: left; backround-color={{cell.color}};">

        {{ cell.general }}

      </td>


    </tr>
    {% endfor %}</tbody>
        </table>

      {% include 'data.html' %}

          
{% endblock %}