{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% include 'scroll.html' %}
{% load static %}

{% include 'page.html' %}


<div class="bar">
  <h4>
   Все ресурсные пулы</h4>
</div>
<div class="table-container-4 page">
        <table border=1 style="position:relative;top:0;"  width=100%>

  <thead>
    <tr>
<th>
          <a href="/role_form/" style="color:white;">
       Роль
        </a>
        </th>
      <th>Руководитель ресурсного пула</th>


    </tr>
    </thead><tbody>
    <tr>
      {% for cell in data2 %}
      <td style="text-align: center; ">
<a href="/role_form/{{cell.id}}">
        {{ cell.title }}
          </a>
      </td>
      <td style="text-align: center; ">

        {{ cell.general }}

      </td>


    </tr>
    {% endfor %}</tbody>
        </table></div>

{% endblock %}