{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}


<div class="bar">
  <h4>Все проекты</h4>
</div>
<table id="example" class="display" style="width:100%">
   <thead>
    <tr>
      <th>Руководитель</th>
      <th>Проект</th>
      <th>Потребность</th>
      <th>Балансы </th>

      <th>Назначения</th>
    </tr>
   </thead><tbody>
    <tr>
      {% for cell in data %}
      <td>

        {{ cell.name }}

      </td>
      <td>

        {{ cell.project }}
      </td>
      <td >
        <a href="/needs_j/0/0/{{cell.j}}">
          Изменить
        </a>
      </td>

      <td >
        <a href="/balance_j/0/0/{{cell.j}}">
          Смотреть
        </a>
      </td>


      <td >
        <a href="/tasks_j/0/0/{{cell.j}}">
          Смотреть
        </a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

<script>

$(document).ready(function () {
    $('#example').DataTable({
        scrollY: '75vh',
        scrollCollapse: true,
        paging: false,
    });
});
</script>



{% endblock %}