{% extends 'base3.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:100px">
<table width="80%"><tr><td>

  <h5>Все проекты</h5>

<table class="display  " style="width:100%">
   <thead>
    <tr>
      <th>Руководитель</th>
      <th>Проект</th>
      <th>Потребность</th>
      <th>Балансы </th>

      <th>Назначения</th>
    </tr>
   </thead><tbody>
    <tr style="text-align:left; ">
      {% for cell in data %}
      <td style="text-align:left;background-color:{{cell.color1}};">

        {{ cell.name }}

      </td>
      <td style="text-align:left; background-color:{{cell.color2}};">

        {{ cell.project }}
      </td>
      <td style="text-align:left; background-color:{{cell.color2}};">
        <a href="/balance/{{cell.j}}/0/2/">
          Изменить
        </a>
      </td>

      <td style="text-align:left; background-color:{{cell.color2}};">
        <a href="/balance/{{cell.j}}/0/1/">
          Смотреть
        </a>
      </td>


      <td style="text-align:left; background-color:{{cell.color2}};">
        <a href="/balance/{{cell.j}}/0/3">
          Смотреть
        </a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>


    </td></tr></table></div>

{% include 'dat.html' %}


{% endblock %}