{% extends 'base0.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
{% include 'menu2.html' %}
<br>
<div style="margin-left:50px">
<table><tr><td>
  <h5>    Все ресурсные пулы</h5>


<table class="display compact " style="width:100%">

   <thead>
    <tr style="text-align: left; ">
      <th>Руководитель</th>
      <th>Ресурсный пул</th>
      <th>Максимальная доступность</th>
      <th>Остаточная доступность</th>
      <th>Балансы </th>
      <th>Назначения</th>

    </tr>
    </thead><tbody>
    <tr>
      {% for cell in data2 %}
      <td style="text-align:left;background-color:{{cell.color1}};">

        {{ cell.name }}

      </td>
      <td style="text-align:left;background-color:{{cell.color2}};">
<a href="/role_form/{{cell.r}}/">
        {{ cell.title }}
      </a>
      </td>
     <td style="text-align:left;background-color:{{cell.color2}};">
        <a href="/max_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>

    <td style="text-align:left;background-color:{{cell.color2}};">
        <a href="/rest_r/0/{{cell.r}}/0/">
          Смотреть
        </a>
      </td>
          <td style="text-align:left;background-color:{{cell.color2}};">
        <a href="/balance_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>

    <td style="text-align:left;background-color:{{cell.color2}};">
        <a href="/tasks_r/0/{{cell.r}}/0/">
          Изменить
        </a>
      </td>


    </tr>
    {% endfor %}</tbody>

        </table>
</td></tr></table></div>
{% include 'data1.html' %}
{% endblock %}