{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}


  <h5>Все проекты - Ресурс: {{role}} -

<a href="/delta_jr/0/{{r}}/{{j}}" style="color:black;">
          Загрузки</a></h5>


<table  class="display compact" style="width:100%">
  <thead>
    <tr  style="text-align:center;">
      <th  style="text-align:center;  border-top:none; ">
        Проект

      </th>

     <th  style="text-align:center; border-top:none;">
        Сотрудник

        {% include 'moon.html' %}</tr></thead><tbody>

    {% for tt in w3 %}
    <tr   style="text-align:center;">     {% for t in tt %}



      <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
        style="background-color:{{t.color}};text-align:center;"
        >
        {{t.val}}
      </td>

      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'data2.html' %}


  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}          <input type=hidden name="html" value='tasks_r'>
      <div style="z-index:100;position:absolute;top:80px;right:385px;">
<button   type="submit"  class="btn btn-primary"> Сохранить </button>
</div>
          </form>
  

{% endblock %}