
{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>Проект: {{project}} - Все ресурсы -<a href="/delta_j/0/{{r}}/{{j}}" style="color:black;">
          Загрузки</a></h5>
<button   type="submit" disabled="true"  class="btn btn-primary"> Сохранить </button>
<table  class="display compact" style="width:100%;">
  <thead>
    <tr style="text-align:center;">
      <th style="text-align:center;">
Ресурс
      </th>
      <th style="text-align:center;">
Сотрудник

        {% include 'moon.html' %}</tr></thead><tbody>

        {% for tt in w3 %}
    <tr>
      {% for t in tt %}

      


      <td action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
        style="background-color:{{t.color}};text-align:center;">
        {{t.val}}    
      
      </td>
 



      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'data2.html' %}

  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}



      <input type=hidden name="html" value='tasks_j'>
          </form>
 <style>

    h5 {
    display: block;
}

.btn.btn-primary {
    display: block;
    margin-top: 10px; /* Если вы хотите добавить некоторый отступ между текстом и кнопкой */
}

</style>

{% endblock %}