
{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}

  <h5>Проект: {{project}} - Все ресурсы -<a href="/delta_j/0/{{r}}/{{j}}" style="color:black;">
          Загрузки</a></h5>

<table  class="display compact" style="width:100%;">
  <thead>
    <tr style="text-align:center;">
      <th class="hborder" style="text-align:center;">
Ресурс
      </th>
      <th class="hborder" style="text-align:center;">
Сотрудник

        {% include 'moon.html' %}</tr></thead><tbody>

        {% for tt in w3 %}
    <tr>
      {% for t in tt %}

      


      <td class="{{t.class}}" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
        style="background-color:{{t.color}};text-align:center;">
        {{t.val}}    
      
      </td>
 



      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% include 'data2.html' %}

  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}
      <div style="position:absolute;top:60px;right:600px;">
<button   type="submit"  class="btn btn-primary"> Сохранить изменения </button>
</div>
      <input type=hidden name="html" value='tasks_j'>
          </form>
 

{% endblock %}