{% extends 'base1.html' %}
{% load custom_filters %}
{% block content %}
{% load static %}
<div class="bar"><a href="/delta_jr/0/{{r}}/{{j}}/">
  <h4>Проект: {{project}} - Ресурс: {{role}}</h4></a>
</div>


  <table id="example" class="display compact" style="width:100%">
   <thead>
    <tr  style="text-align:center;">
      <th>
        <a href="/delta_jr/0/{{r}}/{{j}}" style="color:white">
          Загрузки</a>
      </th>
    </tr>
    <tr  style="text-align:center;">
      <th>Сотрудник
         {% include 'moon.html' %}

        {% for tt in w3 %}
    <tr  style="text-align:center;">
      {% for t in tt %}




      <td class="good" action="/save_task/" fname="f10" key="{{t.link}}" title="{{t.up}}"
      style="text-align:center;background-color:{{t.color}};">
        {{t.val}}
          {% if t.fire %}
        <img src="{% static 'fire2.png' %}" alt="Icon" width=16>
        {% endif%}
      </td>{% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'data.html' %}

  <form id="f10" method="POST" action="/save_task/">
            {% csrf_token %}          <input type=hidden name="html" value='tasks_jr'>
          </form>
  

{% endblock %}