{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{{project}}

<table border="2">
  <tr>
    <th  style="text-align: center;">Роль</th>
    {% for x in data0 %}
      <th  style="text-align: center; ">

        {{x.year}}
      </th>
   {% endfor %}
</tr><tr>
    <th  style="text-align: center;">
    <form id="f" action="/ajax0/" method="POST">
    {% csrf_token %}
  <input type = hidden name="id" value='{{project_id}}'>
    <button type="submit">Сохранить 2</button>
  </form>
    </th>
    {% for x in data0 %}
      <th  style="text-align: center;">

     {{x.month}}
      </th>
   {% endfor %}
  </tr>

  {% for row in data %}
    <tr>
      {% for cell in row %}
                   {% if forloop.first  %}<td>
<!--            <a href="#"-->
<!--  onclick=" var iframe2 = window.parent.document.getElementById('iframe2');-->
<!--iframe2.src = 'res_jr/{{cell.link}}';-->
<!--">-->
                                  {{ cell.title }}
<!--                          </a>-->
                </td>
        {% else %}
        {% if cell.load|positive %}
        <td class="good" key="{{cell.link}}" width = "45"
                    style="text-align: center; background-color:#EEEEFF;">

{% else %}
                    <td class="good" key="{{cell.link}}" width = "45"
                                style="text-align: center; background-color:white;">

                                {% endif %}
                        {{ cell.load }}
                               </td>
            {% endif %}
      {% endfor %}
    </tr>
  {% endfor %}
</table>

</table>



<script>
$('td.good').click(function() {
  var p = $(this).attr("key");
  var originalValue = $(this).text();
  $(this).html('<input type="text" size="1" maxlength="4" value="' + $.trim(originalValue) + '">');
  $(this).click(function(){
  $(this).html(originalValue);
  })
  $('td input').focusout(function() {
    var newValue = $(this).val();
    $(this).parent().text(newValue+'@');

 var form =  document.getElementById("f");
    var input = document.createElement('input');
    input.type = 'hidden';    input.name = p;    input.value = newValue;
   form.appendChild(input);
  });
});
</script>

{% endblock %}
