{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}


<table border="2"  >
      <tr><td colspan="4">Ресурсные пулы</td><td colspan=5>
       {{project}}</td><td colspan="4"> {{role}}</td></tr>

    <tr >
      {% for t in t12 %}
      <th style="text-align: center; ">
        {% if t|isObject %}
        {{t.year}}<br>{{t.month}}
        {% else %}
        {{t}}
        {% endif %}
      </th>
      {% endfor%}
    </tr>

  <tbody>
    {% for p in data %}
      <tr >
        {% for cell in p %}
        <td width = "40" style="text-align: center;  padding: 3px;
  {% if cell|isnumeric and cell|negative %}
  background-color:pink
  {% endif %}
    {% if cell|isnumeric and cell|zero %}
  background-color:#EEEEFF
  {% endif %}


">{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
